<div class="header__margin">
  <div class="d-flex flex-wrap justify-content-between align-items-center mb-5">
    <app-account-card [account]="account"></app-account-card>
    <button (click)="navigateToPayment()" class="btn btn-primary mt-3 mt-sm-0">Initiate new payment</button>
  </div>
  <app-transaction-card
    [transactions]="transactions?.pending"
    [title]="'Pending'"
    [isBookedTransaction]="transactions?.pending?.length > 0"
  ></app-transaction-card>
  <app-transaction-card
    [transactions]="transactions?.booked"
    [title]="'Booked'"
    [isBookedTransaction]="transactions?.booked?.length > 0"
  ></app-transaction-card>

  <div>{{ transactions?.rawTransactions }}</div>
</div>
