@import 'src/assets/themes/variables';
// list-accounts
.withoutOutline {
  outline: none;
}

.add-mr-right:not(:last-child) {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.lacc-list-container {
  display: flex;
  align-items: center;
  //width: 95%;
  text-align: start;
  cursor: pointer;
}

.lacc-list-item {
  background-color: #fff;
  padding: 16px;

  &__headline {
    font-size: 0.5rem;

    &--small {
      font-size: 0.85rem;
      color: $primary;
    }
  }

  &__subheadline {
    font-size: 0.85rem;
    margin-bottom: 0;
    color: $primary;

    &--large {
      font-size: 1.1rem;
    }
  }
}
