<div class="parent">
  <div *ngFor="let account of accounts" (click)="selectAccount(account.resourceId)">
    <div class="list-container list-container--{{ config?.shadow }}">
      <div class="list-item">
        <h1 class="list-item__headline list-item__headline--{{ config?.headline }}">{{ account.name }}</h1>
        <p class="list-item__subheadline list-item__subheadline--{{ config?.subheadline }}">{{ account.iban }}</p>
      </div>
    </div>
  </div>
</div>

<app-show-transactions [accountId]="selectedAccount" [bankId]="bankId"></app-show-transactions>
