<nav class="navbar navbar-light py-3" *ngIf="isLoggedIn()">
  <a class="navbar-brand text-primary mr-4" routerLink="/">
    <img class="logo" [src]="" />
    <span class="ml-3">Fintechui</span>
    <ul class="list-group">
      <li class="list-group-item tinyRedirect">session valid until {{ getSessionValidUntil() }}</li>
      <li class="list-group-item tinyRedirect" *ngFor="let redirectCode of getRedirectSessionsKeys()">
        redirect session {{ redirectCode }} {{ getRedirectSessionValidUntil(redirectCode) }}
      </li>
    </ul>
  </a>
  <ul class="nav">
    <li class="dropdown ml-auto">
      <a
        class="nav-item dropdown-toggle mr-3 no-underline clickable"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        {{ getUserName() }}
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        <a (click)="onLogout()" [routerLinkActive]="['active']" class="dropdown-item clickable pb-2">
          <div>
            <img src="" />
            <span class="nav__title"> Sign out</span>
          </div>
        </a>
      </div>
    </li>
  </ul>
</nav>
