.list-group-item {
  font-size: 0.7em;
  margin-left: 100px;
}

.dropdown-menu {
  padding: 0.1rem;
}

.nav {
  padding: 1.75rem;
  cursor: pointer;
  .dropdown-item {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
