<div class="card">
  <div class="card-body">
    <section>
      <h2>Review your payment in {{ aspspName }}</h2>
      <p class="text-secondary">
        Please review payment initiated by <strong>{{ finTechName }}</strong>
      </p>
    </section>
    <div class="form-group d-flex flex-row justify-content-lg-between">
      <button id="do_back" class="btn md-6 w-100 mr-sm-2 mr-md-3 btn-outline-back" (click)="onBack()">Back</button>
      <button id="do_submit" type="button" class="btn md-6 w-100 btn-primary" (click)="onConfirm()">Confirm</button>
    </div>
  </div>
</div>
