# This Docker-Compose file is FOR DEVELOPMENT. When you are able to build project yourself.
networks:
  opba-net:

services:
  postgres:
    image: "postgres"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=docker
      - POSTGRES_DB=open_banking
    ports:
      #HOST:CONTAINER
      - "5432:5432"
    volumes:
      - ./opba-db/src/main/resources/init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./fintech-examples/fintech-db-schema/src/main/resources/init.sql:/docker-entrypoint-initdb.d/fintech-init.sql
    networks:
      - opba-net

  open-banking-gateway:
    environment:
      - SPRING_LIQUIBASE_PARAMETERS_ADORSYS-SANDBOX-URL=https://xs2a-connector-modelbank.support.sol.adorsys.com
      - SPRING_LIQUIBASE_PARAMETERS_ADORSYS-SANDBOX-OAUTH-SERVER-URL=https://xs2a-online-modelbank.support.sol.adorsys.com/oauth/authorization-server
      - SPRING_LIQUIBASE_PARAMETERS_ADORSYS-HBCI-SANDBOX-URL=http://hbci-sandbox:8090/hbci-mock/
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/open_banking?currentSchema=banking_protocol
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=docker
      - PROTOCOL_XS2A_PKCS12_KEYSTORE=/pkcs12/sample-qwac.keystore
      - FACADE_ENCRYPTION_KEYSETPATH=/keysetpath/example-keyset.json
      - FACADE_URLS_EMBEDDED-UI-BASE-URL=http://localhost:4200
      - PROTOCOL_GATEWAY-BASE-URL=http://localhost:8085
      - SPRING_PROFILES_INCLUDE = no-signature-filter
    build: opba-embedded-starter
    ports:
      - "8085:8085"
    volumes:
      - ./opba-protocols/xs2a-protocol/src/main/resources/:/pkcs12/
      - ./opba-banking-protocol-facade/src/main/resources/:/keysetpath/
    depends_on:
      - postgres
    networks:
      - opba-net

  fintech-ui:
    environment:
      - BACKEND_URL=http://fintech-server:8086
    restart: on-failure
    build:
      context: fintech-examples/fintech-ui
      dockerfile: Dockerfile
    ports:
      - "24200:4200"
    depends_on:
      - fintech-server
    networks:
      - opba-net

  fintech-server:
    environment:
      - TPP_URL=http://open-banking-gateway:8085
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/open_banking?currentSchema=fintech

      - FINTECH-UI_HOST=http://localhost:4444

    build: fintech-examples/fintech-server
    ports:
      - "8086:8086"
    depends_on:
      - postgres
    networks:
      - opba-net

  consent-ui:
    environment:
      - BACKEND_URL=http://open-banking-gateway:8085
    restart: on-failure
    build:
      context: consent-ui
      dockerfile: Dockerfile
    ports:
      - "14200:4200"
    depends_on:
      - open-banking-gateway
    networks:
      - opba-net

  hbci-sandbox-server:
    restart: on-failure
    build:
      context: opba-protocols/sandboxes/hbci-sandbox
      dockerfile: Dockerfile
    ports:
      - "18090:8090"
    networks:
      - opba-net