version: "3.3"

networks:
  opba-net:

services:
  postgres:
    image: "postgres"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=docker
      - POSTGRES_DB=open_banking
    ports:
      #HOST:CONTAINER
      - "15432:5432"
    volumes:
      - ./opba-db/src/main/resources/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - opba-net

  open-banking-gateway:
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/open_banking?currentSchema=banking_protocol
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=docker
      - PKCS12_KEYSTORE=/pkcs12/sample-qwac.keystore
      - FACADE_ENCRYPTION_KEYSETPATH=/keysetpath/example-keyset.json
    build: opba-embedded-starter
    ports:
      - "18085:8085"
    volumes:
      - ./opba-protocols/xs2a-protocol/src/main/resources/:/pkcs12/
      - ./opba-banking-protocol-facade/src/main/resources/:/keysetpath/
    depends_on:
      - postgres
    networks:
      - opba-net

  fintech-ui:
    environment:
      - BACKEND_URL=http://fintech-server:8086
    restart: on-failure
    build:
      context: fintech-examples/fintech-ui
      dockerfile: Dockerfile
    ports:
      - "14200:4200"
    networks:
      - opba-net

  fintech-server:
    environment:
      - TPP_URL=http://open-banking-gateway:8085

      - SPRING_DATASOURCE_URL=jdbc:h2:mem:test
      - SPRING_DATASOURCE_USERNAME=SA
      - SPRING_DATASOURCE_PASSWORD=
      - SPRING_DATASOURCE_DRIVER-CLASS-NAME=org.h2.Driver

      - SERVER_CONTROLLER_COOKIE_SECURE=false
      - SERVER_CONTROLLER_COOKIE_MAXAGE=200
      - SERVER_CONTROLLER_COOKIE_HTTPONLY=false
      - SERVER_CONTROLLER_COOKIE_PATH=/

      - MOCK_TPPAIS_LISTTRANSACTIONS=true
      - MOCK_TPPAIS_LISTACCOUNTS=false

    build: fintech-examples/fintech-server
    ports:
      - "18086:8086"
    networks:
      - opba-net

