openapi: 3.0.0
servers:
  - description: Firefly III demo site
    url: https://demo.firefly-iii.org/
info:
  title: Firefly III API
  description: |
    This is the official documentation of the Firefly III API. You can find accompanying documentation on the website of Firefly III itself (see below). Please report any bugs or issues. This version of the API is live from version v4.7.9 and onwards. You may use the "Authorize" button to try the API below.
  version: "1.3.0"
  contact:
    name: James Cole
    email: james@firefly-iii.org
    url: https://firefly-iii.org
  license:
    name: AGPLv3
    url: 'https://www.gnu.org/licenses/agpl-3.0.en.html'
tags:
  - name: about
    description: General system information, versions, and the currently logged in user.
  - name: accounts
    description: All asset, expense and other accounts (and the metadata) together with
      related transactions, piggy banks and other objects.
  - name: attachments
    description: All attachments of the authenticated user, including up- and downloading
      of the files.
  - name: available_budgets
    description: The total available amount that is available for budgeting every period.
  - name: bills
    description: All bills by the user.
  - name: budgets
    description: Manage all the user&#039;s budgets
  - name: charts
    description: This endpoint delivers optimised data for charts and graphics.
  - name: categories
    description: Manage all the user&#039;s categories
  - name: currency_exchange_rates
    description: Manage system currency exchange rates, add your own rates or read them
      from providers configured in Firefly III
  - name: configuration
    description: Manage the global Firefly III configuration
  - name: currencies
    description: Manage all currencies in the system, disable and enable them or add
      new ones.
  - name: import
    description: Manage and run imports.
  - name: links
    description: Manage links between transactions, and manage the type of links available.
  - name: piggy_banks
    description: Control all of the user&#039;s piggy banks, including money management
  - name: preferences
    description: Manage the user&#039;s preferences, including some hidden ones.
  - name: recurrences
    description: Manage the user&#039;s recurring transactions, trigger the creation of transactions
      and manage the settings.
  - name: rules
    description: Manage all of the user&#039;s rules and trigger the execution of rules.
  - name: rule_groups
    description: Manage all of the user&#039;s groups of rules and trigger the execution
      of entire groups.
  - name: search
    description: Search through the user&#039;s financial data.
  - name: summary
    description: Endpoint for sums, lists of numbers and other processed information.
  - name: tags
    description: Manage all the user&#039;s tags.
  - name: transactions
    description: Manage all the user&#039;s transactions.
  - name: users
    description: Manage the users registered within Firefly III.

paths:
  /api/v1/about:
    get:
      tags:
        - about
      operationId: getAbout
      summary: System information end point.
      description: |
        Returns general system information and versions of the (supporting) software.
      responses:
        '200':
          description: The available system information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemInfo'
  /api/v1/about/user:
    get:
      tags:
        - about
      summary: Currently authenticated user endpoint.
      operationId: getCurrentUser
      description: |
        Returns the currently authenticated user.
      responses:
        '200':
          description: The user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSingle'
  /api/v1/accounts:
    get:
      tags:
        - accounts
      summary: List all accounts.
      description: |
        This endpoint returns a list of all the accounts owned by the authenticated user.
      operationId: listAccount
      parameters:
        - in: query
          name: page
          description: Page number. The default pagination is per 50 items.
          required: false
          schema:
            type: integer
            format: int32
            example: 1
        - in: query
          name: date
          description: |
            A date formatted YYYY-MM-DD. When added to the request, Firefly III will show the account's balance on that day.
          required: false
          schema:
            type: string
            format: date
        - in: query
          name: type
          description: Optional filter on the account type(s) returned
          required: false
          schema:
            $ref: '#/components/schemas/AccountTypeFilter'
      responses:
        '200':
          description: A list of accounts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountArray'
    post:
      tags:
        - accounts
      summary: Create new account.
      operationId: storeAccount
      description: Creates a new account. The data required can be submitted as a JSON body or as a list of parameters (in key=value pairs, like a webform).
      responses:
        '200':
          description: 'New account stored, result in response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSingle'
        '422':
          description: 'Validation errors (see body)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Account'
        description: JSON array with the necessary account information or key=value pairs. See the model for the exact specifications.
        required: true
  /api/v1/accounts/{id}:
    get:
      tags:
        - accounts
      summary: Get single account.
      description: |
        Returns a single account by its ID.
      operationId: getAccount
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            example: 1
          description: The ID of the account.
        - in: query
          name: date
          description: |
            A date formatted YYYY-MM-DD. When added to the request, Firefly III will show the account's balance on that day.
          required: false
          schema:
            type: string
            format: date
      responses:
        '200':
          description: 'The requested account'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSingle'
        '404':
          description: Account not found
    put:
      summary: Update existing account.
      description: |
        Used to update a single account. All fields that are not submitted will be cleared (set to NULL). The model will tell you which fields are mandatory.
      operationId: updateAccount
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            example: 1
          description: The ID of the account.
      tags:
        - accounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Account'
        description: JSON array or formdata with updated account information. See the model for the exact specifications.
        required: true
      responses:
        '200':
          description: 'Updated account stored, result in response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSingle'
        '422':
          description: 'Validation errors (see body)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
    delete:
      summary: Permanently delete account.
      description: |
        Will permanently delete an account. Any associated transactions and piggy banks are ALSO deleted. Cannot be recovered from.
      operationId: deleteAccount
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            example: 1
          description: The ID of the account.
      tags:
        - accounts
      responses:
        '204':
          description: Account deleted
        '404':
          description: No such account
  /api/v1/accounts/{id}/piggy_banks:
    get:
      tags:
        - accounts
      summary: List all piggy banks related to the account.
      description: |
        This endpoint returns a list of all the piggy banks connected to the account.
      operationId: listPiggyBankByAccount
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            example: 1
          description: The ID of the account.
        - in: query
          name: page
          description: Page number. The default pagination is per 50 items.
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: A list of piggy banks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PiggyBankArray'
  /api/v1/accounts/{id}/transactions:
    get:
      tags:
        - accounts
      summary: List all transactions related to the account.
      description: |
        This endpoint returns a list of all the transactions connected to the account.
      operationId: listTransactionByAccount
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            example: 1
          description: The ID of the account.
        - in: query
          name: page
          description: Page number. The default pagination is per 50 items.
          required: false
          schema:
            type: integer
            example: 1
        - in: query
          name: limit
          description: Limits the number of results on one page.
          required: false
          schema:
            type: integer
            example: 5
        - in: query
          name: start
          description: |
            A date formatted YYYY-MM-DD.
          required: false
          schema:
            type: string
            format: date
            example: 2018-09-17
        - in: query
          name: end
          description: |
            A date formatted YYYY-MM-DD.
          required: false
          schema:
            type: string
            format: date
            example: 2018-09-17
        - in: query
          name: type
          description: Optional filter on the transaction type(s) returned.
          required: false
          schema:
            $ref: '#/components/schemas/TransactionTypeFilter'
      responses:
        '200':
          description: A list of transactions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionArray'
  /api/v1/accounts/{id}/attachments:
    get:
      summary: Lists all attachments.
      description: Lists all attachments.
      operationId: listAttachmentByAccount
      tags:
        - accounts
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            example: 1
          description: The ID of the account.
        - in: query
          name: page
          description: Page number. The default pagination is 50.
          required: false
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: A list of attachments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentArray'
        '404':
          description: No such account.
  /api/v1/attachments:
    get:
      summary: List all attachments.
      description: |
        This endpoint lists all attachments.
      operationId: listAttachment
      tags:
        - attachments
      parameters:
        - in: query
          name: page
          description: Page number. The default pagination is 50.
          required: false
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: A list of attachments.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentArray'
    post:
      summary: Store a new attachment.
      description: |
        Creates a new attachment. The data required can be submitted as a JSON body or as a list of parameters. You cannot use this endpoint to upload the actual file data (see below). This endpoint only creates the attachment object.
      operationId: storeAttachment
      tags:
        - attachments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Attachment'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Attachment'
        description: "JSON array or key=value pairs with the necessary attachment information. See the model for the exact specifications."
        required: true
      responses:
        '200':
          description: 'New attachment stored, result in response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentSingle'
        '422':
          description: 'Validation errors (see body)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /api/v1/attachments/{id}:
    get:
      summary: Get a single attachment.
      description: |
        Get a single attachment. This endpoint only returns the available metadata for the attachment. Actual file data is handled in two other endpoints (see below).
      operationId: getAttachment
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            example: 1
          description: The ID of the attachment.
      tags:
        - attachments
      responses:
        '200':
          description: 'The requested attachment'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentSingle'
        '404':
          description: Attachment not found
    put:
      operationId: updateAttachment
      tags:
        - attachments
      summary: Update existing attachment.
      description: |
        Update the meta data for an existing attachment. This endpoint does not allow you to upload or download data. For that, see below.
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            example: 1
          description: The ID of the attachment.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Attachment'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Attachment'
        description: JSON array with updated attachment information. See the model for the exact specifications.
        required: true
      responses:
        '200':
          description: 'Updated attachment stored, result in response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentSingle'
        '422':
          description: 'Validation errors (see body)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
    delete:
      operationId: deleteAttachment
      summary: Delete an attachment.
      description: |
        With this endpoint you delete an attachment, including any stored file data.
      tags:
        - attachments
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            example: 1
          description: The ID of the single.
      responses:
        '204':
          description: Attachment deleted.
        '404':
          description: No such attachment
  /api/v1/attachments/{id}/download:
    get:
      summary: Download a single attachment.
      description: |
        This endpoint allows you to download the binary content of a transaction. It will be sent to you as a download, using the content type "application/octet-stream" and content disposition "attachment; filename=example.pdf".
      operationId: downloadAttachment
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            example: 1
          description: The ID of the attachment.
      tags:
        - attachments
      responses:
        '200':
          description: 'The requested attachment'
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: File not found
  /api/v1/attachments/{id}/upload:
    post:
      summary: Upload an attachment.
      description: |
        Use this endpoint to upload (and possible overwrite) the file contents of an attachment. Simply put the entire file in the body as binary data.
      operationId: uploadAttachment
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            example: 1
          description: The ID of the attachment.
      tags:
        - attachments
      responses:
        '204':
          description: 'Upload was a success'
        '404':
          description: File not found
        '422':
          description: Upload invalid or empty file.
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
  /api/v1/available_budgets:
    get:
      summary: List all available budget amounts.
      description: |
        Firefly III allows users to set the amount that is available to be budgeted in so-called "available budgets". For example, the user could have 1200,- available to be divided during the coming month. This amount is used on the /budgets page. This endpoint returns all of these amounts and the periods for which they are set.
      operationId: listAvailableBudget
      tags:
        - available_budgets
      parameters:
        - in: query
          name: page
          description: Page number. The default pagination is 50.
          required: false
          schema:
            type: integer
            example: 1
        - in: query
          name: start
          description: |
            A date formatted YYYY-MM-DD.
          required: false
          schema:
            type: string
            format: date
            example: 2018-09-17
        - in: query
          name: end
          description: |
            A date formatted YYYY-MM-DD.
          required: false
          schema:
            type: string
            format: date
            example: 2018-12-31
      responses:
        '200':
          description: A list of available budget amounts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableBudgetArray'
    post:
      summary: Store a new available budget
      description: |
        Creates a new available budget for a specified period. The data required can be submitted as a JSON body or as a list of parameters.
      operationId: storeAvailableBudget
      tags:
        - available_budgets
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvailableBudget'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AvailableBudget'
        description: "JSON array or key=value pairs with the necessary available budget information. See the model for the exact specifications."
        required: true
      responses:
        '200':
          description: 'New available budget stored, result in response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableBudgetSingle'
        '422':
          description: 'Validation errors (see body)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /api/v1/available_budgets/{id}:
    get:
      summary: Get a single available budget.
      description: Get a single available budget, by ID.
      operationId: getAvailableBudget
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            example: 1
          description: The ID of the available budget.
      tags:
        - available_budgets
      responses:
        '200':
          description: 'The requested available budget'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableBudgetSingle'
        '404':
          description: AvailableBudget not found
    put:
      operationId: updateAvailableBudget
      tags:
        - available_budgets
      description: Update existing available budget.
      summary: Update existing available budget, to change for example the date range of the amount or the amount itself.
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            example: 1
          description: The ID of the object.X
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvailableBudget'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AvailableBudget'
        description: JSON array or form value with updated available budget information. See the model for the exact specifications.
        required: true
      responses:
        '200':
          description: 'Updated available budget stored, result in response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableBudgetSingle'
        '422':
          description: 'Validation errors (see body)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
    delete:
      operationId: deleteAvailableBudget
      description: Delete an available budget. Not much more to say.
      summary: Delete an available budget.
      tags:
        - available_budgets
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            example: 1
          description: The ID of the available budget.
      responses:
        '204':
          description: Available budget deleted.
        '404':
          description: No such available budget.

  /api/v1/bills:
    get:
      summary: List all bills.
      description: This endpoint will list all the user's bills.
      operationId: listBill
      tags:
        - bills
      parameters:
        - in: query
          name: page
          description: Page number. The default pagination is 50.
          required: false
          schema:
            type: integer
            example: 1
        - in: query
          name: start
          description: |
            A date formatted YYYY-MM-DD. If it is are added to the request, Firefly III will calculate the appropriate payment and paid dates.
          required: false
          schema:
            type: string
            format: date
            example: 2018-09-17
        - in: query
          name: end
          description: |
            A date formatted YYYY-MM-DD. If it is added to the request, Firefly III will calculate the appropriate payment and paid dates.
          required: false
          schema:
            type: string
            format: date
            example: 2018-12-31
      responses:
        '200':
          description: A list of bills
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillArray'
    post:
      summary: Store a new bill
      description: Creates a new bill. The data required can be submitted as a JSON body or as a list of parameters.
      operationId: storeBill
      tags:
        - bills
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Bill'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Bill'
        description: "JSON array or key=value pairs with the necessary bill information. See the model for the exact specifications."
        required: true
      responses:
        '200':
          description: 'New bill stored, result in response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillSingle'
        '422':
          description: 'Validation errors (see body)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /api/v1/bills/{id}:
    get:
      summary: Get a single bill.
      description: Get a single bill.
      operationId: getBill
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            example: 1
          description: The ID of the bill.
        - in: query
          name: start
          description: |
            A date formatted YYYY-MM-DD. If it is are added to the request, Firefly III will calculate the appropriate payment and paid dates.
          required: false
          schema:
            type: string
            format: date
            example: 2018-09-17
        - in: query
          name: end
          description: |
            A date formatted YYYY-MM-DD. If it is added to the request, Firefly III will calculate the appropriate payment and paid dates.
          required: false
          schema:
            type: string
            format: date
            example: 2018-12-31
      tags:
        - bills
      responses:
        '200':
          description: 'The requested bill'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillSingle'
        '404':
          description: Bill not found
    put:
      operationId: updateBill
      tags:
        - bills
      description: Update existing bill.
      summary: Update existing bill.
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            example: 1
          description: The ID of the bill.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Bill'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Bill'
        description: JSON array or key=value pairs with updated bill information. See the model for the exact specifications.
        required: true
      responses:
        '200':
          description: 'Updated bill stored, result in response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillSingle'
        '422':
          description: 'Validation errors (see body)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
    delete:
      operationId: deleteBill
      description: Delete a bill. This will not delete any associated rules. Will not remove associated transactions. WILL remove all associated attachments.
      summary: Delete a bill.
      tags:
        - bills
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            example: 1
          description: The ID of the bill.
      responses:
        '204':
          description: Bill deleted.
        '404':
          description: No such bill
  /api/v1/bills/{id}/attachments:
    get:
      summary: List all attachments uploaded to the bill.
      description: This endpoint will list all attachments linked to the bill.
      operationId: listAttachmentByBill
      tags:
        - bills
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            example: 1
          description: The ID of the bill.
        - in: query
          name: page
          description: Page number. The default pagination is 50.
          required: false
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: A list of attachments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentArray'
  /api/v1/bills/{id}/rules:
    get:
      summary: List all rules associated with the bill.
      description: This endpoint will list all rules that have an action to set the bill to this bill.
      operationId: listRuleByBill
      tags:
        - bills
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            example: 1
          description: The ID of the bill.
      responses:
        '200':
          description: A list of rules
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleArray'
  /api/v1/bills/{id}/transactions:
    get:
      summary: List all transactions associated with the  bill.
      description: This endpoint will list all transactions linked to this bill.
      operationId: listTransactionByBill
      tags:
        - bills
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            example: 1
          description: The ID of the bill.
        - in: query
          name: start
          description: |
            A date formatted YYYY-MM-DD.
          required: false
          schema:
            type: string
            format: date
            example: 2018-09-17
        - in: query
          name: end
          description: |
            A date formatted YYYY-MM-DD.
          required: false
          schema:
            type: string
            format: date
            example: 2018-12-31
        - in: query
          name: type
          description: Optional filter on the transaction type(s) returned
          required: false
          schema:
            $ref: '#/components/schemas/TransactionTypeFilter'
      responses:
        '200':
          description: A list of transactions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionArray'

  /api/v1/budgets:
    get:
      summary: List all budgets.
      description: List all the budgets the user has made. If the start date and end date are submitted as well, the "spent" array will be updated accordingly.
      operationId: listBudget
      tags:
        - budgets
      parameters:
        - in: query
          name: page
          description: Page number. The default pagination is 50.
          required: false
          schema:
            type: integer
            example: 1
        - in: query
          name: start
          description: |
            A date formatted YYYY-MM-DD, to get info on how much the user has spent. You must submit both start and end.
          required: false
          schema:
            type: string
            format: date
            example: 2018-09-17
        - in: query
          name: end
          description: |
            A date formatted YYYY-MM-DD, to get info on how much the user has spent. You must submit both start and end.
          required: false
          schema:
            type: string
            format: date
            example: 2018-12-31
      responses:
        '200':
          description: A list of budgets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetArray'
    post:
      summary: Store a new budget
      description: Creates a new budget. The data required can be submitted as a JSON body or as a list of parameters.
      operationId: storeBudget
      tags:
        - budgets
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Budget'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Budget'
        description: "JSON array or key=value pairs with the necessary budget information. See the model for the exact specifications."
        required: true
      responses:
        '200':
          description: 'New budget stored, result in response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetSingle'
        '422':
          description: 'Validation errors (see body)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /api/v1/budgets/{id}:
    get:
      summary: Get a single budget.
      description: Get a single budget. If the start date and end date are submitted as well, the "spent" array will be updated accordingly.
      operationId: getBudget
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            example: 1
          description: The ID of the requested budget.
        - in: query
          name: start_date
          description: |
            A date formatted YYYY-MM-DD, to get info on how much the user has spent.
          required: false
          schema:
            type: string
            format: date
            example: 2018-09-17
        - in: query
          name: end_date
          description: |
            A date formatted YYYY-MM-DD, to get info on how much the user has spent.
          required: false
          schema:
            type: string
            format: date
            example: 2018-12-31
      tags:
        - budgets
      responses:
        '200':
          description: 'The requested budget'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetSingle'
        '404':
          description: Budget not found.
    put:
      operationId: updateBudget
      tags:
        - budgets
      description: Update existing budget. This endpoint cannot be used to set budget amount limits.
      summary: Update existing budget.
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            minimum: 1
            example: 1
          description: The ID of the budget.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Budget'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Budget'
        description: JSON array with updated budget information. See the model for the exact specifications.
        required: true
      responses:
        '200':
          description: 'Updated budget stored, result in response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetSingle'
        '422':
          description: 'Validation errors (see body)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
    delete:
      operationId: deleteBudget
      description: Delete a budget. Transactions will not be deleted.
      summary: Delete a budget.
      tags:
        - budgets
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            minimum: 1
            example: 1
          description: The ID of the budget.
      responses:
        '204':
          description: Budget deleted.
        '404':
          description: No such budget

  /api/v1/budgets/{id}/transactions:
    get:
      summary: All transactions to a budget.
      description: Get all transactions linked to a budget, possibly limited by start and end
      operationId: listTransactionByBudget
      tags:
        - budgets
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            example: 1
          description: The ID of the budget.
        - in: query
          name: limit
          description: Limits the number of results on one page.
          required: false
          schema:
            type: integer
            example: 5
        - in: query
          name: page
          description: Page number. The default pagination is 50.
          required: false
          schema:
            type: integer
            example: 1
        - in: query
          name: start
          description: |
            A date formatted YYYY-MM-DD.
          required: false
          schema:
            type: string
            format: date
            example: 2018-09-17
        - in: query
          name: end
          description: |
            A date formatted YYYY-MM-DD.
          required: false
          schema:
            type: string
            format: date
            example: 2018-12-31
        - in: query
          name: type
          description: Optional filter on the transaction type(s) returned
          required: false
          schema:
            $ref: '#/components/schemas/TransactionTypeFilter'
      responses:
        '200':
          description: A list of transactions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionArray'
  /api/v1/budgets/{id}/limits:
    get:
      operationId: listBudgetLimitByBudget
      description: |
        Get all budget limits for this budget and the money spent, and money left. You can limit the list by submitting a date range as well. The "spent" array for each budget limit is NOT influenced by the start and end date of your query, but by the start and end date of the budget limit itself.
      summary: Get all limits
      tags:
        - budgets
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            minimum: 1
            example: 1
          description: The ID of the requested budget.
        - in: query
          name: start
          description: |
            A date formatted YYYY-MM-DD.
          required: false
          schema:
            type: string
            format: date
            example: 2018-09-17
        - in: query
          name: end
          description: |
            A date formatted YYYY-MM-DD.
          required: false
          schema:
            type: string
            format: date
            example: 2018-12-31
      responses:
        '200':
          description: A list of budget limits applicable to this budget.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetLimitArray'
    post:
      operationId: storeBudgetLimit
      description: Store a new budget limit.
      summary: Store new budget limit.
      tags:
        - budgets
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            minimum: 1
            example: 1
          description: The ID of the budget.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BudgetLimit'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BudgetLimit'
        description: "JSON array or key=value pairs with the necessary budget information. See the model for the exact specifications."
        required: true
      responses:
        '200':
          description: 'New budget limit stored, result in response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetLimitSingle'
        '422':
          description: 'Validation errors (see body)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /api/v1/budgets/limits/{id}:
    get:
      summary: Get single budget limit.
      operationId: getBudgetLimit
      tags:
        - budgets
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            minimum: 1
            example: 1
          description: The ID of the requested budget limit.
      responses:
        '200':
          description: 'The requested budget limit'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetLimitSingle'
        '404':
          description: Budget limit not found.
    put:
      operationId: updateBudgetLimit
      tags:
        - budgets
      description: Update existing budget limit.
      summary: Update existing budget limit.
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            minimum: 1
            example: 1
          description: The ID of the requested budget limit. The budget limit MUST be associated to the budget ID.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BudgetLimit'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BudgetLimit'
        description: JSON array with updated budget limit information. See the model for the exact specifications.
        required: true
      responses:
        '200':
          description: 'Updated budget limit stored, result in response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetLimitSingle'
        '422':
          description: 'Validation errors (see body)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
    delete:
      operationId: deleteBudgetLimit
      description: Delete a budget limit.
      summary: Delete a budget limit.
      tags:
        - budgets
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            minimum: 1
            example: 1
          description: The ID of the requested budget limit.
      responses:
        '204':
          description: Budget limit deleted.
        '404':
          description: No such budget limit
  /api/v1/budgets/limits/{id}/transactions:
    get:
      summary: List all transactions by a budget limit ID.
      description: List all the transactions within one budget limit. The start and end date are dictated by the budget limit.
      operationId: listTransactionByBudgetLimit
      tags:
        - budgets
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            minimum: 1
            example: 1
          description: The ID of the requested budget limit.
        - in: query
          name: page
          description: Page number. The default pagination is 50.
          required: false
          schema:
            type: integer
            example: 1
        - in: query
          name: type
          description: Optional filter on the transaction type(s) returned
          required: false
          schema:
            $ref: '#/components/schemas/TransactionTypeFilter'
      responses:
        '200':
          description: A list of transactions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionArray'
  /api/v1/budgets/{id}/attachments:
    get:
      summary: Lists all attachments.
      description: Lists all attachments.
      operationId: listAttachmentByBudget
      tags:
        - budgets
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            example: 1
          description: The ID of the budget.
        - in: query
          name: page
          description: Page number. The default pagination is 50.
          required: false
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: A list of attachments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentArray'
        '404':
          description: No such budget.

  /api/v1/categories:
    get:
      summary: List all categories.
      description: List all categories.
      operationId: listCategory
      tags:
        - categories
      parameters:
        - in: query
          name: page
          description: Page number. The default pagination is 50.
          required: false
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: A list of categories.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryArray'
    post:
      summary: Store a new category
      description: Creates a new category. The data required can be submitted as a JSON body or as a list of parameters.
      operationId: storeCategory
      tags:
        - categories
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Category'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Category'
        description: "JSON array or key=value pairs with the necessary category information. See the model for the exact specifications."
        required: true
      responses:
        '200':
          description: 'New category stored, result in response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategorySingle'
        '422':
          description: 'Validation errors (see body)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /api/v1/categories/{id}:
    get:
      summary: Get a single category.
      description: Get a single category.
      operationId: getCategory
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            example: 1
          description: The ID of the category.
        - in: query
          name: start
          description: |
            A date formatted YYYY-MM-DD, to show spent and earned info.
          required: false
          schema:
            type: string
            format: date
            example: 2018-09-17
        - in: query
          name: end
          description: |
            A date formatted YYYY-MM-DD, to show spent and earned info.
          required: false
          schema:
            type: string
            format: date
            example: 2018-12-31
      tags:
        - categories
      responses:
        '200':
          description: 'The requested category'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategorySingle'
        '404':
          description: Category not found
    put:
      operationId: updateCategory
      tags:
        - categories
      description: Update existing category.
      summary: Update existing category.
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            example: 1
          description: The ID of the category.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Category'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Category'
        description: JSON array with updated category information. See the model for the exact specifications.
        required: true
      responses:
        '200':
          description: 'Updated category stored, result in response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategorySingle'
        '422':
          description: 'Validation errors (see body)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
    delete:
      operationId: deleteCategory
      description: Delete a category. Transactions will not be removed.
      summary: Delete a category.
      tags:
        - categories
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            example: 1
          description: The ID of the category.
      responses:
        '204':
          description: Category deleted.
        '404':
          description: No such category.
  /api/v1/categories/{id}/transactions:
    get:
      summary: List all transactions in a category.
      description: List all transactions in a category, optionally limited to the date ranges specified.
      operationId: listTransactionByCategory
      tags:
        - categories
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            example: 1
          description: The ID of the category.
        - in: query
          name: page
          description: Page number. The default pagination is per 50.
          required: false
          schema:
            type: integer
            example: 1
        - in: query
          name: start
          description: |
            A date formatted YYYY-MM-DD, to limit the result list.
          required: false
          schema:
            type: string
            format: date
            example: 2018-09-17
        - in: query
          name: end
          description: |
            A date formatted YYYY-MM-DD, to limit the result list.
          required: false
          schema:
            type: string
            format: date
            example: 2018-12-31
        - in: query
          name: type
          description: Optional filter on the transaction type(s) returned
          required: false
          schema:
            $ref: '#/components/schemas/TransactionTypeFilter'
      responses:
        '200':
          description: A list of transactions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionArray'
  /api/v1/categories/{id}/attachments:
    get:
      summary: Lists all attachments.
      description: Lists all attachments.
      operationId: listAttachmentByCategory
      tags:
        - categories
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            example: 1
          description: The ID of the category.
        - in: query
          name: page
          description: Page number. The default pagination is 50.
          required: false
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: A list of attachments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentArray'
        '404':
          description: No such category.

  /api/v1/cer:
    get:
      summary: Get an exchange rate.
      description: Get an exchange rate. If Firefly III doesn't know the rate it will set the rate to 1.0.
      operationId: getExchangeRate
      tags:
        - currency_exchange_rates
      parameters:
        - in: query
          name: from
          required: false
          schema:
            type: string
            format: string
            example: EUR
          description: The source currency code. If omitted, defaults to EUR.
        - in: query
          name: to
          required: false
          schema:
            type: string
            format: string
            example: USD
          description: The destination currency code. If omitted, defaults to USD.
        - in: query
          name: date
          required: false
          schema:
            type: string
            format: date
            example: "2018-09-17"
          description: The date you want to know the exchange rate on.
        - in: query
          name: amount
          required: false
          schema:
            type: number
            format: double
            example: 120.12
          description: The amount in the source currency. If added, Firefly III will calculate the amount in the destination currency.
      responses:
        '200':
          description: The exchange rate as requested
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeRate'
  /api/v1/chart/ab/overview/{id}:
    get:
      tags:
        - charts
      summary: Dashboard chart with an overview of the available budget.
      description: |
        This endpoint returns the data required to generate a pie chart for the available budget.
      operationId: getChartABOverview
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            example: 1
          description: The ID of the available budget.
        - in: query
          name: start
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: end
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Pie chart oriented chart information. Check out the model for more details. Each entry is a piece of the pie in the chart.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChartLine'

  /api/v1/chart/account/overview:
    get:
      tags:
        - charts
      summary: Dashboard chart with asset account balance information.
      description: |
        This endpoint returns the data required to generate a chart with basic asset account balance information.
      operationId: getChartAccountOverview
      parameters:
        - in: query
          name: start
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: end
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Line chart oriented chart information. Check out the model for more details. Each entry is a line (or bar) in the chart.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChartLine'
  /api/v1/chart/account/expense:
    get:
      tags:
        - charts
      summary: Dashboard chart with expense account balance information.
      description: |
        This endpoint returns the data required to generate a chart that shows the user how much they've spent on their expense accounts.
      operationId: getChartAccountExpense
      parameters:
        - in: query
          name: start
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: end
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Bar chart oriented chart information. Check out the model for more details. Each entry is a line (or bar) in the chart.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChartBar'
  /api/v1/chart/account/revenue:
    get:
      tags:
        - charts
      summary: Dashboard chart with revenue account balance information.
      description: |
        This endpoint returns the data required to generate a chart that shows the user how much they've earned from their revenue accounts.
      operationId: getChartAccountRevenue
      parameters:
        - in: query
          name: start
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: end
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Bar chart oriented chart information. Check out the model for more details. Each entry is a line (or bar) in the chart.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChartBar'

  /api/v1/chart/category/overview:
    get:
      tags:
        - charts
      summary: Dashboard chart with an overview of the users categories.
      description: |
        This endpoint returns the data required to generate a bar chart for the expenses and incomes on the users categories.
      operationId: getChartCategoryOverview
      parameters:
        - in: query
          name: start
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: end
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Bar chart oriented chart information. Check out the model for more details. Each entry is a set of bars in the chart.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChartLine'

  /api/v1/configuration:
    get:
      summary: Get Firefly III system configuration.
      description: Get system configuration
      operationId: getConfiguration
      tags:
        - configuration
      responses:
        '200':
          description: System configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Configuration'
  /api/v1/configuration/{name}:
    post:
      tags:
        - configuration
      summary: Update configuration
      operationId: setConfiguration
      description: Set a single config value.
      parameters:
        - in: path
          name: name
          description: The configuration value name.
          required: true
          schema:
            type: string
            format: string
            example: "single_user_mode"
            enum:
              - is_demo_site
              - last_update_check
              - single_user_mode
      responses:
        '200':
          description: 'New config stored, result in response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Configuration'
        '422':
          description: 'Validation errors (see body)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
      requestBody:
        description: JSON array with the necessary account information or key=value pairs. See the model for the exact specifications.
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ConfigurationUpdate'
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigurationUpdate'
        required: true

  /api/v1/currencies:
    get:
      summary: List all currencies.
      description: List all currencies.
      operationId: listCurrency
      tags:
        - currencies
      parameters:
        - in: query
          name: page
          description: Page number. The default pagination is 50.
          required: false
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: A list of currencies.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyArray'
    post:
      summary: Store a new currency
      description: Creates a new currency. The data required can be submitted as a JSON body or as a list of parameters.
      operationId: storeCurrency
      tags:
        - currencies
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Currency'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Currency'
        description: "JSON array or key=value pairs with the necessary currency information. See the model for the exact specifications."
        required: true
      responses:
        '200':
          description: 'New currency stored, result in response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencySingle'
        '422':
          description: 'Validation errors (see body)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /api/v1/currencies/{code}/enable:
    post:
      summary: Enable a single currency.
      description: Enable a single currency.
      operationId: enableCurrency
      tags:
        - currencies
      parameters:
        - in: path
          name: code
          required: true
          schema:
            type: string
            format: string
            example: USD
          description: The currency code.
      responses:
        '204':
          description: Currency was enabled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencySingle'
  /api/v1/currencies/{code}/disable:
    post:
      summary: Disable a currency.
      description: Disable a currency.
      operationId: disableCurrency
      tags:
        - currencies
      parameters:
        - in: path
          name: code
          required: true
          schema:
            type: integer
            example: GBP
          description: The currency code.
      responses:
        '204':
          description: Currency was disabled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencySingle'
        '409':
          description: Currency cannot be disabled, because it is still in use.
  /api/v1/currencies/{code}/default:
    post:
      summary: Make currency default currency.
      description: Make this currency the default currency. If the currency is not enabled, it will be enabled as well.
      operationId: defaultCurrency
      tags:
        - currencies
      parameters:
        - in: path
          name: code
          required: true
          schema:
            type: string
            format: string
            example: USD
          description: The currency code.
      responses:
        '204':
          description: Currency has been made the default currency.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencySingle'
  /api/v1/currencies/{code}:
    get:
      summary: Get a single currency.
      description: Get a single currency.
      operationId: getCurrency
      parameters:
        - in: path
          name: code
          required: true
          schema:
            type: string
            format: string
            example: USD
          description: The currency code.
      tags:
        - currencies
      responses:
        '200':
          description: 'The requested currency'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencySingle'
        '404':
          description: Currency not found
    put:
      operationId: updateCurrency
      tags:
        - currencies
      description: Update existing currency.
      summary: Update existing currency.
      parameters:
        - in: path
          name: code
          required: true
          schema:
            type: string
            format: string
            example: EUR
          description: The currency code.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Currency'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Currency'
        description: JSON array with updated currency information. See the model for the exact specifications.
        required: true
      responses:
        '200':
          description: 'Updated currency stored, result in response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencySingle'
        '422':
          description: 'Validation errors (see body)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
    delete:
      operationId: deleteCurrency
      description: Delete a currency.
      summary: Delete a currency.
      tags:
        - currencies
      parameters:
        - in: path
          name: code
          required: true
          schema:
            type: string
            format: string
            example: GBP
          description: The currency code.
      responses:
        '204':
          description: Currency deleted.
        '404':
          description: No such currency
  /api/v1/currencies/{code}/accounts:
    get:
      summary: List all accounts with this currency.
      description: List all accounts with this currency.
      operationId: listAccountByCurrency
      tags:
        - currencies
      parameters:
        - in: path
          name: code
          required: true
          schema:
            type: string
            format: string
            example: USD
          description: The currency code.
        - in: query
          name: page
          description: Page number. The default pagination is 50.
          required: false
          schema:
            type: integer
            example: 1
        - in: query
          name: date
          description: |
            A date formatted YYYY-MM-DD. When added to the request, Firefly III will show the account's balance on that day.
          required: false
          schema:
            type: string
            format: string
        - in: query
          name: type
          description: Optional filter on the account type(s) returned
          required: false
          schema:
            $ref: '#/components/schemas/AccountTypeFilter'
      responses:
        '200':
          description: A list of accounts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountArray'
  /api/v1/currencies/{code}/available_budgets:
    get:
      summary: List all available budgets with this currency.
      description: List all available budgets with this currency.
      operationId: listAvailableBudgetByCurrency
      tags:
        - currencies
      parameters:
        - in: path
          name: code
          required: true
          schema:
            type: string
            format: string
            example: EUR
          description: The currency code.
        - in: query
          name: page
          description: Page number. The default pagination is 50
          required: false
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: A list of available budgets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableBudgetArray'
  /api/v1/currencies/{code}/bills:
    get:
      summary: List all bills with this currency.
      description: List all bills with this currency.
      operationId: listBillByCurrency
      tags:
        - currencies
      parameters:
        - in: path
          name: code
          required: true
          schema:
            type: string
            format: string
            example: USD
          description: The currency code.
        - in: query
          name: page
          description: Page number. The default pagination is 50.
          required: false
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: A list of bills.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillArray'
  /api/v1/currencies/{code}/budget_limits:
    get:
      summary: List all budget limits with this currency
      description: List all budget limits with this currency
      operationId: listBudgetLimitByCurrency
      tags:
        - currencies
      parameters:
        - in: path
          name: code
          required: true
          schema:
            type: string
            format: string
            example: USD
          description: The currency code.
        - in: query
          name: page
          description: Page number. The default pagination is 50.
          required: false
          schema:
            type: integer
            example: 1
        - in: query
          name: start
          description: Start date for the budget limit list.
          required: false
          schema:
            type: string
            format: date
            example: "2018-01-01"
        - in: query
          name: end
          description: End date for the budget limit list.
          required: false
          schema:
            type: string
            format: date
            example: "2018-01-31"
      responses:
        '200':
          description: A list of budget limits.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetLimitArray'
  /api/v1/currencies/{code}/cer:
    get:
      summary: List all known exchange rates with (from or to) this currency.
      description: List all known exchange rates.
      operationId: listExchangeRateByCurrency
      tags:
        - currencies
      parameters:
        - in: path
          name: code
          required: true
          schema:
            type: string
            format: string
            example: GBP
          description: The currency code.
        - in: query
          name: page
          description: Page number. The default pagination is 50.
          required: false
          schema:
            type: integer
            example: 1
        - in: query
          name: date
          description: |
            The date of which you want to know the exchange rate
          required: false
          schema:
            type: string
            format: date
        - in: query
          name: start
          description: |
            Use this instead of the date parameter to search for a range of currency exchange values.
          required: false
          schema:
            type: string
            format: date
        - in: query
          name: end
          description: |
            Use this instead of the date parameter to search for a range of currency exchange values.
          required: false
          schema:
            type: string
            format: date
      responses:
        '200':
          description: A list of exchange rates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeRateArray'
  /api/v1/currencies/{code}/recurrences:
    get:
      summary: List all recurring transactions with this currency.
      description: List all recurring transactions with this currency.
      operationId: listRecurrenceByCurrency
      tags:
        - currencies
      parameters:
        - in: path
          name: code
          required: true
          schema:
            type: string
            format: string
            example: EUR
          description: The currency code.
        - in: query
          name: page
          description: Page number. The default pagination is 50.
          required: false
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: A list of recurring transactions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecurrenceArray'
  /api/v1/currencies/{code}/rules:
    get:
      summary: List all rules with this currency.
      description: List all rules with this currency.
      operationId: listRuleByCurrency
      tags:
        - currencies
      parameters:
        - in: path
          name: code
          required: true
          schema:
            type: string
            format: string
            example: USD
          description: The currency code.
        - in: query
          name: page
          description: Page number. The default pagination per 50.
          required: false
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: A list of rules
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleArray'
  /api/v1/currencies/{code}/transactions:
    get:
      summary: List all transactions with this currency.
      description: List all transactions with this currency.
      operationId: listTransactionByCurrency
      tags:
        - currencies
      parameters:
        - in: path
          name: code
          required: true
          schema:
            type: string
            format: string
            example: USD
          description: The currency code.
        - in: query
          name: page
          description: Page number. The default pagination is per 50.
          required: false
          schema:
            type: integer
            example: 1
        - in: query
          name: start_date
          description: |
            A date formatted YYYY-MM-DD, to limit the list of transactions.
          required: false
          schema:
            type: string
            format: date
            example: 2018-09-17
        - in: query
          name: end_date
          description: |
            A date formatted YYYY-MM-DD, to limit the list of transactions.
          required: false
          schema:
            type: string
            format: date
            example: 2018-12-31
        - in: query
          name: type
          description: Optional filter on the transaction type(s) returned
          required: false
          schema:
            $ref: '#/components/schemas/TransactionTypeFilter'
      responses:
        '200':
          description: A list of transactions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionArray'
  /api/v1/currencies/default:
    get:
      summary: Get the user's default currency.
      description: Get the user's default currency.
      operationId: getDefaultCurrency
      tags:
        - currencies
      responses:
        '200':
          description: 'The default currency'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencySingle'

  /api/v1/data/destroy:
    delete:
      tags:
        - data
      operationId: destroyData
      summary: Endpoint to destroy user data
      description: |
        A call to this endpoint permanently destroys the requested data type. Use it with care and always with user permission.
        The demo user is incapable of using this endpoint.
      responses:
        '204':
          description: Empty response when data has been destroyed.
        '500':
          description: Internal error, or user is unauthorized to destroy data.
      parameters:
        - in: query
          name: objects
          description: The type of data that you wish to destroy.
          required: true
          schema:
            $ref: '#/components/schemas/DataDestroyObject'

  /api/v1/import/list:
    get:
      description: List all imports
      tags:
        - import
      operationId: listImport
      parameters:
        - in: query
          name: page
          description: Page number. The default pagination is per 50 items.
          required: false
          schema:
            type: integer
            example: 1
      summary: List al imports
      responses:
        '200':
          description: A list of import jobs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportJobArray'
  /api/v1/import/{key}:
    get:
      description: Show info on single import.
      tags:
        - import
      summary: Show info on a single import
      operationId: getImport
      parameters:
        - in: path
          name: key
          required: true
          schema:
            type: string
            format: string
            example: x2Akaijm2
          description: The job key of an import job.
      responses:
        '200':
          description: 'The requested import job'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportJobSingle'
        '404':
          description: Import job not found
  /api/v1/import/{key}/transactions:
    get:
      tags:
        - import
      summary: List all transactions related to the import job. The correlation is made through the tag.
      description: |
        See summary
      operationId: listTransactionByImport
      parameters:
        - in: path
          name: key
          required: true
          schema:
            type: string
            format: string
            example: abcde
          description: The key of the import job
        - in: query
          name: page
          description: Page number. The default pagination is 50.
          required: false
          schema:
            type: integer
            example: 1
        - in: query
          name: start
          description: |
            A date formatted YYYY-MM-DD. This is the start date of the selected range (inclusive).
          required: false
          schema:
            type: string
            format: date
            example: 2018-09-17
        - in: query
          name: end
          description: |
            A date formatted YYYY-MM-DD. This is the end date of the selected range (inclusive).
          required: false
          schema:
            type: string
            format:  date
            example: 2018-09-17
        - in: query
          name: type
          description: Optional filter on the transaction type(s) returned.
          required: false
          schema:
            $ref: '#/components/schemas/TransactionTypeFilter'
      responses:
        '200':
          description: A list of transactions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionArray'

  # TODO
  # upload import file.
  # Download used config file
  # set config value for provider
  # list of config values for provider that need filling in
  # read config value of provider
  # set config value for job
  # read config value for job
  # list of config values for job that need filling in

  /api/v1/link_types:
    get:
      tags:
        - links
      summary: List all types of links.
      description: |
        List all the link types the system has. These include the default ones as well as any new ones.
      operationId: listLinkType
      parameters:
        - in: query
          name: page
          description: Page number. The default pagination is 50 items.
          required: false
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: A list of link types.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkTypeArray'
    post:
      tags:
        - links
      summary: Create a new link type
      operationId: storeLinkType
      description: Creates a new link type. The data required can be submitted as a JSON body or as a list of parameters (in key=value pairs, like a webform).
      responses:
        '200':
          description: 'New link type stored, result in response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkTypeSingle'
        '422':
          description: 'Validation errors (see body)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkType'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/LinkType'
        description: JSON array with the necessary link type information or key=value pairs. See the model for the exact specifications.
        required: true
  /api/v1/link_types/{id}:
    get:
      tags:
        - links
      summary: Get single a link type.
      description: |
        Returns a single link type by its ID.
      operationId: getLinkType
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            example: 1
          description: The ID of the link type.
      responses:
        '200':
          description: 'The requested link type'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkTypeSingle'
        '404':
          description: Link type not found.
    put:
      summary: Update existing link type.
      description: |
        Used to update a single link type. All fields that are not submitted will be cleared (set to NULL). The model will tell you which fields are mandatory. You cannot update some of the system provided link types, indicated by the editable=false flag when you list it.
      operationId: updateLinkType
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            example: 1
          description: The ID of the link type.
      tags:
        - links
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkType'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/LinkType'
        description: JSON array or formdata with updated link type information. See the model for the exact specifications.
        required: true
      responses:
        '200':
          description: 'Updated link type stored, result in response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkTypeSingle'
        '422':
          description: 'Validation errors (see body)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '500':
          description: Cannot delete this link type.
    delete:
      summary: Permanently delete link type.
      description: |
        Will permanently delete a link type. The links between transactions will be removed. The transactions themselves remain. You cannot delete some of the system provided link types, indicated by the editable=false flag when you list it.
      operationId: deleteLinkType
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            example: 1
          description: The ID of the link type.
      tags:
        - links
      responses:
        '204':
          description: Link type deleted
        '404':
          description: No such link type
        '500':
          description: Cannot delete this link type.
  /api/v1/link_types/{id}/transactions:
    get:
      tags:
        - links
      summary: List all transactions under this link type.
      description: |
        List all transactions under this link type, both the inward and outward transactions.
      operationId: listTransactionByLinkType
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            example: 1
          description: The ID of the link type.
        - in: query
          name: page
          description: Page number. The default pagination is per 50 items.
          required: false
          schema:
            type: integer
            example: 1
        - in: query
          name: start
          description: |
            A date formatted YYYY-MM-DD, to limit the results.
          required: false
          schema:
            type: string
            format: date
            example: 2018-09-17
        - in: query
          name: end
          description: |
            A date formatted YYYY-MM-DD, to limit the results.
          required: false
          schema:
            type: string
            format: date
            example: 2018-09-17
        - in: query
          name: type
          description: Optional filter on the transaction type(s) returned.
          required: false
          schema:
            $ref: '#/components/schemas/TransactionTypeFilter'
      responses:
        '200':
          description: A list of transactions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionArray'
  /api/v1/transaction_links:
    get:
      tags:
        - links
      summary: List all transaction links.
      description: |
        List all the transaction links.
      operationId: listTransactionLink
      parameters:
        - in: query
          name: page
          description: Page number. The default pagination is per 50 items.
          required: false
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: A list of transaction links
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionLinkArray'
    post:
      tags:
        - links
      summary: Create a new link between transactions
      operationId: storeTransactionLink
      description: Store a new link between two transactions. For this end point you need the journal_id from a transaction.
      responses:
        '200':
          description: 'New transaction link stored, result in response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionLinkSingle'
        '422':
          description: 'Validation errors (see body)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionLink'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TransactionLink'
        description: JSON array with the necessary link type information or key=value pairs. See the model for the exact specifications.
        required: true
  /api/v1/transaction_links/{id}:
    get:
      tags:
        - links
      summary: Get a single link.
      description: |
        Returns a single link by its ID.
      operationId: getTransactionLink
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            example: 1
          description: The ID of the transaction link.
      responses:
        '200':
          description: 'The requested link'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionLinkSingle'
        '404':
          description: No such transaction link.
    delete:
      summary: Permanently delete link between transactions.
      description: |
        Will permanently delete link. Transactions remain.
      operationId: deleteTransactionLink
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            example: 1
          description: The ID of the transaction link.
      tags:
        - links
      responses:
        '204':
          description: Transaction link deleted
        '404':
          description: No such transaction link
    put:
      summary: Update an existing link between transactions.
      description: |
        Used to update a single existing link.
      operationId: updateTransactionLink
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            example: 1
          description: The ID of the transaction link.
      tags:
        - links
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionLink'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TransactionLink'
        description: JSON array or formdata with updated link type information. See the model for the exact specifications.
        required: true
      responses:
        '200':
          description: 'Updated link type stored, result in response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionLinkSingle'
        '422':
          description: 'Validation errors (see body)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'

  /api/v1/piggy_banks:
    get:
      summary: List all piggy banks.
      description: List all piggy banks.
      operationId: listPiggyBank
      tags:
        - piggy_banks
      parameters:
        - in: query
          name: page
          description: Page number. The default pagination is 50.
          required: false
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: A list of piggy banks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PiggyBankArray'
    post:
      summary: Store a new piggy bank
      description: Creates a new piggy bank. The data required can be submitted as a JSON body or as a list of parameters.
      operationId: storePiggyBank
      tags:
        - piggy_banks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PiggyBank'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PiggyBank'
        description: "JSON array or key=value pairs with the necessary piggy bank information. See the model for the exact specifications."
        required: true
      responses:
        '200':
          description: 'New piggy bank stored, result in response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PiggyBankSingle'
        '422':
          description: 'Validation errors (see body)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /api/v1/piggy_banks/{id}:
    get:
      summary: Get a single piggy bank.
      description: Get a single piggy bank.
      operationId: getPiggyBank
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            example: 1
          description: The ID of the piggy bank.
      tags:
        - piggy_banks
      responses:
        '200':
          description: 'The requested piggy bank'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PiggyBankSingle'
        '404':
          description: Piggy bank not found
    put:
      operationId: updatePiggyBank
      tags:
        - piggy_banks
      description: Update existing piggy bank.
      summary: Update existing piggy bank.
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            example: 1
          description: The ID of the piggy bank
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PiggyBank'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PiggyBank'
        description: JSON array with updated piggy bank information. See the model for the exact specifications.
        required: true
      responses:
        '200':
          description: 'Updated piggy bank stored, result in response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PiggyBankSingle'
        '422':
          description: 'Validation errors (see body)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
    delete:
      operationId: deletePiggyBank
      description: Delete a piggy bank.
      summary: Delete a piggy bank.
      tags:
        - piggy_banks
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            example: 1
          description: The ID of the piggy bank.
      responses:
        '204':
          description: Piggy bank deleted.
        '404':
          description: No such piggy bank
  /api/v1/piggy_banks/{id}/events:
    get:
      summary: List all events linked to a piggy bank.
      description: List all events linked to a piggy bank (adding and removing money).
      operationId: listEventByPiggyBank
      tags:
        - piggy_banks
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            example: 1
          description: The ID of the piggy bank
        - in: query
          name: page
          description: Page number. The default pagination is 50.
          required: false
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: A list of piggy bank related events
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PiggyBankEventArray'
  /api/v1/piggy_banks/{id}/attachments:
    get:
      summary: Lists all attachments.
      description: Lists all attachments.
      operationId: listAttachmentByPiggyBank
      tags:
        - piggy_banks
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            example: 1
          description: The ID of the piggy bank.
        - in: query
          name: page
          description: Page number. The default pagination is 50.
          required: false
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: A list of attachments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentArray'
        '404':
          description: No such piggy bank.
  /api/v1/preferences:
    get:
      summary: List all users preferences.
      description: List all preferences of the user.
      operationId: listPreference
      tags:
        - preferences
      parameters:
        - in: query
          name: page
          description: Page number. The default pagination is 50.
          required: false
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: A list of preferences.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferenceArray'
  /api/v1/preferences/{name}:
    get:
      summary: Return a single preference.
      description: Return a single preference.
      operationId: getPreference
      parameters:
        - in: path
          name: name
          required: true
          schema:
            type: string
            format: string
            example: currencyPreference
          description: The name of the preference.
      tags:
        - preferences
      responses:
        '200':
[...]
