// Overwrite bootstrap variables
@import './bootstrap-overrides';

$primary: #687aa8;
$primary-10: #f7f8fb;
$primary-30: #e5ecfe;

$dark-80: #21242c;
$dark-90: #1d2d56;
$grey: #4d4d4d;

%layout-padding {
  padding: 0.75rem 1.25rem;
}

$breakpoint-sm: 576px;

:root {
  /*Main*/
  --main-BG: #{$primary-10};
  --fontFamily: #{$font-family-base};
}
