@import 'src/assets/themes/variables';

.list-item {
  padding: 0.75rem 1.25rem;
  background-color: #fff;
  border-radius: 3px;
  width: 100%;
  text-align: start;
  border-bottom: 1px solid rgba(0, 0, 0, 0.145);

  &--shadow {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
  }

  &__headline {
    font-size: 1.1rem;
    margin-bottom: 4px;

    &--small {
      font-size: 0.8rem;
      color: $grey;
    }
  }

  &__subheadline {
    font-size: 0.85rem;
    color: $primary;
    font-weight: 400;

    &--large {
      font-size: 1.1rem;
      color: $primary;
    }
  }
}
