<h1>TPP asks user to provide data necessary to authorize his request within EMBEDDED authorization</h1>
<h2>In case of successful authorization user is REDIRECT'ed to ASPSP for further authorization</h2>

<div>
  <div style='width: 50%; display:inline-block; vertical-align:top;'>
    <app-dynamic-form [submissionUri]="submissionUri" [aisControlTemplates]="inputsAisConsent" [dynamicControlTemplates]="inputsDynamic"></app-dynamic-form>
  </div>
  <div style='width: 50%;  display:inline-block; vertical-align:top;'>
    <h5>Templates</h5>
    <input type="button" value="Set anton.brueckner all accounts" (click)="setDataFor(Users.ANTON, AccountRefType.ALL)"/>
    <br>
    <input type="button" value="Set anton.brueckner one account (accounts)" (click)="setDataFor(Users.ANTON, AccountRefType.ACCOUNT)"/>
    <br>
    <input type="button" value="Set anton.brueckner one account (balances)" (click)="setDataFor(Users.ANTON, AccountRefType.BALANCES)"/>
    <br>
    <input type="button" value="Set anton.brueckner one account (transactions)" (click)="setDataFor(Users.ANTON, AccountRefType.TRANSACTIONS)"/>
    <br>
    <hr>
    <input type="button" value="Set max.musterman all accounts" (click)="setDataFor(Users.MAX, AccountRefType.ALL)"/>
    <br>
    <input type="button" value="Set max.musterman one account (accounts)" (click)="setDataFor(Users.MAX, AccountRefType.ACCOUNT)"/>
    <br>
    <input type="button" value="Set max.musterman one account (balances)" (click)="setDataFor(Users.MAX, AccountRefType.BALANCES)"/>
    <br>
    <input type="button" value="Set max.musterman one account (transactions)" (click)="setDataFor(Users.MAX, AccountRefType.TRANSACTIONS)"/>
    <br>
  </div>
</div>

<br/>
<a href="assets/docs/rendered/flow.svg">Link to entire end-to-end flow</a>
<h2>What happens in backend during this request</h2>
<img src="assets/docs/rendered/embedded.svg" width="1920px"/>
