@import 'src/assets/themes/variables';

input {
  margin-right: 10px;
}

.card-body {
  background-color: $primary-10;
  padding: 20px;
}

label {
  margin-top: 1.5rem;
}


.withoutOutline {
  outline: none;
}
.lacc-parent {
  margin: 50px;
  display: flex;
  flex-direction: row;
}
