<div class="card card-frame--big">
  <div class="card-body">
    <form [formGroup]="paymentForm">
      <section class="payment">
        <h2 class="card-title--normal">Transfer money</h2>
        <p class="text-secondary">Enter the data of the recipient of your payment</p>
        <div class="row">
          <div class="form-group col-md-6">
            <label class="text-secondary" for="name">Name:</label><br />
            <input
              [ngClass]="{ 'is-invalid': paymentForm.controls['name'].dirty && paymentForm.controls['name'].errors }"
              class="form-control"
              formControlName="name"
              id="name"
              name="name"
              type="text"
            />
            <div
              *ngIf="paymentForm.controls['name'].dirty && paymentForm.controls['name'].errors"
              class="invalid-feedback"
            >
              Name is required
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="text-secondary" for="creditorIban">IBAN:</label><br />
            <input
              [ngClass]="{
                'is-invalid': creditorIban.dirty && creditorIban.errors
              }"
              class="form-control"
              formControlName="creditorIban"
              id="creditorIban"
              name="creditorIban"
              type="text"
            />
            <div *ngIf="creditorIban.errors" class="invalid-feedback">
              <div *ngIf="creditorIban.errors.required">IBAN is required.</div>
              <div *ngIf="creditorIban.errors.iban">IBAN is invalid</div>
            </div>
          </div>
          <div class="form-group col-md-6" *ngIf="!accountId">
            <label class="text-secondary" for="debtorIban">Your IBAN:</label><br />
            <input
              class="form-control"
              id="debtorIban"
              name="creditorIban"
              type="text"
              value="{{ debtorIban }}"
              disabled
            />
          </div>
          <div class="form-group col-md-6">
            <label class="text-secondary" for="purpose">Purpose of payment:</label><br />
            <input
              [ngClass]="{
                'is-invalid': paymentForm.controls['purpose'].dirty && paymentForm.controls['purpose'].errors
              }"
              class="form-control"
              formControlName="purpose"
              id="purpose"
              name="purpose"
              type="text"
            />
          </div>
          <div class="form-group col-md-6">
            <label class="text-secondary" for="amount">Amount:</label><br />
            <input
              [ngClass]="{
                'is-invalid': paymentForm.controls['amount'].dirty && paymentForm.controls['amount'].errors
              }"
              class="form-control"
              formControlName="amount"
              id="amount"
              name="amount"
              placeholder="0"
              min="0"
              type="number"
            />
            <div *ngIf="paymentForm.controls['amount'].errors?.required" class="invalid-feedback">
              Amount is required
            </div>
            <div *ngIf="paymentForm.controls['amount'].errors?.pattern" class="invalid-feedback">
              The amount should be more than 0 or doesn't fit the pattern ##.##
            </div>
          </div>

          <div class="form-group col-md-6">
            <label class="text-secondary" for="endToEndIdentification">End To End Identification:</label><br />
            <input
              [ngClass]="{
                'is-invalid':
                  paymentForm.controls['endToEndIdentification'].dirty &&
                  paymentForm.controls['endToEndIdentification'].errors
              }"
              class="form-control"
              formControlName="endToEndIdentification"
              id="endToEndIdentification"
              name="endToEndIdentification"
              type="text"
            />
            <div *ngIf="paymentForm.controls['endToEndIdentification'].errors?.required" class="invalid-feedback">
              End To End Identification is required
            </div>
            <div *ngIf="paymentForm.controls['endToEndIdentification'].errors?.maxlength" class="invalid-feedback">
              End To End Identification maximum length is 35
            </div>
          </div>

          <div class="form-group col-md-12">
            <label>
              <input type="checkbox" formControlName="instantPayment" />
              <span>Instant payment</span>
            </label>
          </div>
        </div>
      </section>

      <div class="d-sm-flex">
        <button (click)="onDeny()" class="btn btn-outline-secondary w-100 mr-4" id="do_deny">Cancel</button>
        <button
          (click)="onConfirm()"
          [disabled]="paymentForm.invalid"
          class="btn btn-primary w-100"
          id="do_submit"
          type="button"
        >
          Ok
        </button>
      </div>
    </form>
  </div>
</div>
