<div class="sidebar">
  <ul class="nav flex-md-column">
    <li class="nav-item">
      <a [routerLinkActive]="['active']" [routerLink]="['/']" class="nav-link ">
        <div class="icon__container"></div>
        <span class="nav__title">Accounts</span>
      </a>
    </li>
    <li class="nav-item">
      <a [routerLinkActive]="['active']" [routerLink]="['/']" class="nav-link ">
        <div class="icon__container"></div>
        <span class="nav__title">Transfert</span>
      </a>
    </li>
    <li class="nav-item">
      <a [routerLinkActive]="['active']" [routerLink]="['/']" class="nav-link">
        <div class="icon__container"></div>
        <span class="nav__title">Setting</span>
      </a>
    </li>
  </ul>
</div>
