<div class="box-container">
  <ng-template [ngIf]="!selectedBank" [ngIfElse]="profile">
    <div class="card card-frame">
      <div class="card-body">
        <h4 class="card-title">Search your bank!</h4>
        <app-search (keyword)="onSearch($event)"></app-search>
        <div class="border-0">
          <button (click)="onBankSelect(bank.id)" *ngFor="let bank of searchedBanks" class="list-item" type="button">
            {{ bank }}
          </button>
        </div>
        <button class="btn btn-primary btn-block" type="submit">Next</button>
      </div>
    </div>
  </ng-template>

  <ng-template #profile>
    <div class="card box-item mr-4 w-100">
      <div class="card-body">
        <app-profile [bankId]="selectedBank" (bankUnselect)="bankUnselect()"></app-profile>
      </div>
    </div>
  </ng-template>
</div>
