.box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #edf4f7;

  .box-header {
    &__title {
      color: #212121;
      font-size: 1.8rem;
      font-weight: 400;
      margin-bottom: 1rem;
    }
    &_text {
      color: #737373;
    }
  }

  .box-item {
    max-width: 26rem;
  }
}

.list-group-item:hover {
  background-color: #edf4f7;
  transition: 0.5s ease-in-out;
}
