@import 'src/assets/themes/variables';

//TODO: move this code in a template component (list-item.component)
.list-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  width: 100%;
  text-align: start;

  &:not(:last-of-type) {
    margin-bottom: 10px;
  }

  &:last-child {
    margin-bottom: 2rem;
  }

  &:hover {
    background-color: $primary-30;
    border-color: $primary-30;
    transition: 0.2s ease-in-out;
  }
}
