<div class="card card-frame">
  <div class="card-body">
    <h4 class="card-title">Sorry</h4>
    <div class="form__margin">
      <div class="form-group">
        <h3>This user is not permitted to access server resources.</h3>
        <h4>
          For <strong>DEV</strong> environment you can type random login (not yet existing) and random password to
          create new user into login form to get into application.
        </h4>
      </div>
    </div>
    <button class="btn btn-primary btn-center btn-block mb-3" (click)="proceed()">Ok</button>
  </div>
</div>
