<div [formGroup]="form">
  <label [attr.for]="control.id">{{control.message}}</label>

  <div [ngSwitch]="control.controlType">

    <input *ngSwitchCase="'textbox'" [formControlName]="control.id" name="{{control.id}}"
           [id]="control.id" [type]="control.type" placeholder="{{control.message}}">

    <div *ngSwitchCase="'dropdown'">
      {{control.message}}
      <select [id]="control.id" [formControlName]="control.id" name="{{control.id}}">
        <option *ngFor="let opt of control.options" [value]="opt.key">{{opt.value}}</option>
      </select>
    </div>

    <input #checkbox *ngSwitchCase="'boolean'" [formControlName]="control.id" name="{{control.id}}"
           [id]="control.id" type="checkbox" placeholder="{{control.message}}"
           [value]="checkbox.checked">

    <div *ngSwitchCase="'date'">
      <input matInput [matDatepicker]="picker" name="{{control.id}}" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </div>

  </div>

  <div class="errorMessage" *ngIf="!isValid">{{control.id}} is required</div>
</div>
