@import 'src/assets/themes/variables';

.card__item {
  background-color: #fff;
  padding: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  display: inline-block;
  cursor: pointer;

  .card__headline {
    font-size: 0.5rem;

    &--small {
      font-size: 0.85rem;
      color: $primary;
    }
  }

  .card__subheadline {
    font-size: 0.85rem;
    margin-bottom: 0;
    color: $primary;

    &--large {
      font-size: 1.1rem;
    }
  }
}
