@use 'src/assets/themes/variables' as vars;

.card__item {
  background-color: vars.$primary-30;
  padding: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  display: inline-block;
  cursor: pointer;

  .card__headline {
    font-size: 0.5rem;

    &--small {
      font-size: 0.85rem;
      color: vars.$primary;
    }
  }

  .card__subheadline {
    font-size: 0.85rem;
    margin-bottom: 0;
    color: vars.$primary;

    &--large {
      font-size: 1.1rem;
    }
  }
}
