<div (click)="onSubmit()" (keyup)="$event.key === 'Enter' && onSubmit()" tabindex="0" role="button" class="card__item">
  <div class="d-flex justify-content-between">
    <h1 class="card__headline card__headline--small">{{ internalAccount?.name }}</h1>
    <h1
      class="card__headline card__headline--small"
      [ngClass]="Number(internalAccount?.amount) > 0 ? 'text-success' : 'text-danger'"
      *ngIf="internalAccount.amount"
    >
      {{ internalAccount?.amount }} {{ internalAccount?.currency }}
    </h1>
  </div>
  <p class="card__subheadline card__subheadline--large">
    {{ internalAccount?.accountNumber }}
  </p>
</div>
