<div [formGroup]="form">
  <div [ngSwitch]="control.type">

    <mat-form-field *ngSwitchCase="'STRING'">
      <input name="{{control.id}}" [formControlName]="control.id" [type]="control.type" matInput placeholder="{{control.message}}">
    </mat-form-field>

    <app-three-state-checkbox *ngSwitchCase="'BOOLEAN'" [form]="form" controlName="{{control.id}}" label="{{control.message}}"></app-three-state-checkbox>

    <mat-form-field *ngSwitchCase="'DATE'">
      <input matInput [matDatepicker]="dp" name="{{control.id}}" placeholder="{{control.message}}" [formControlName]="control.id">
      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="errorMessage" *ngIf="!isValid">{{control.id}} is required</div>
</div>
