<script src="../account-selector/account-selector.component.ts"></script>
<div>
  <form ngNoForm method="post" action="{{submissionUri}}">

    <ng-container *ngIf="aisConsent">
      <h4>AIS consent</h4>
      <app-app-ais-consent [aisConsent]="aisConsent" [form]="formStatic"></app-app-ais-consent>
    </ng-container>

    <hr>

    <ng-container *ngIf="dynamicControlTemplates.length !== 0">
      <h4>Other consent parameters</h4>
      <div *ngFor="let template of dynamicControlTemplates" class="form-row">
        <app-dynamic-form-control [control]="template" [form]="formDynamic"></app-dynamic-form-control>
      </div>
    </ng-container>

    <div class="form-row">
      <button type="button" (click)="save()">Supply parameters to embedded authorization</button>
    </div>
  </form>
</div>
