<div [formGroup]="form">
  <div [ngSwitch]="control.controlType">

    <mat-form-field *ngSwitchCase="'textbox'">
      <input name="{{control.id}}" [formControlName]="control.id" [type]="control.type" matInput placeholder="{{control.message}}">
    </mat-form-field>

    <div *ngSwitchCase="'dropdown'">
      {{control.message}}
      <select [id]="control.id" [formControlName]="control.id" name="{{control.id}}">
        <option *ngFor="let opt of control.options" [value]="opt.key">{{opt.value}}</option>
      </select>
    </div>

    <app-three-state-checkbox *ngSwitchCase="'boolean'" [form]="form" controlName="{{control.id}}" label="{{control.message}}"></app-three-state-checkbox>

    <mat-form-field *ngSwitchCase="'date'">
      <input matInput [matDatepicker]="dp" name="{{control.id}}" placeholder="{{control.message}}" [formControlName]="control.id">
      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="errorMessage" *ngIf="!isValid">{{control.id}} is required</div>
</div>
