* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Light', sans-serif;
    background-color: #143055;
}

.card {
    border-radius: .5rem;
    margin: 3rem auto 0 auto;
    max-width:  500px;
    background-color: #fff;
}

.card-title {
    font-size: 1.5rem;
    margin: 0 auto 2rem auto;
    text-align: center;
    max-width: 430px;
    color: #143055;
    text-transform: capitalize;
}

.card-body {
    padding: 3rem;
}

.form-group:not(:last-child) {
    margin-bottom: 1rem;
}

label {
    display: inline-block;
    padding-bottom: 5px;
}

.form-control {
    display: block;
    width: 100%;
    padding: .6rem .75rem;
    font-size: .95rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input:focus {
    outline: none !important;
    border:1px solid #8055e8;
    box-shadow: 0 0 5px #719ECE;
}

.scrollable {
    overflow-x: hidden;
    max-height: 350px;
    margin-bottom: 1.2rem;
}

.bank-list li a:not(:last-child) {
    padding: .75rem 1.25rem .75rem 2.25rem;
    background-color: #fff;
    border: none;
    width: 100%;
    border-radius: 5px;
    text-align: start;
    margin-bottom: 10px;
    font-size: .8rem;
}

.list-group-item {
    padding: .8rem;
    font-size: 1rem;
    background-color: #fff;
    cursor: pointer;
    font-weight: 300;
}

.list-group-item:hover {
    background-color: rgba(128,85,232,.125);
    transition: 0.3s;
}

.hidden {
    display: none
}

@media screen and (max-width: 410px) {
    .card-title {
        font-size: 1rem;
    }
    .card-body {
        padding: 2rem;
    }
    label, .list-group-item, .form-control  {
        font-size: .8rem;
    }
}
