.account-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.nested {
  margin: 10px 30px;
}

.account-radio-button {
  margin: 5px;
}

.disabled {
  color: gray;
}

.form-row {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}
