<form (ngSubmit)="onSubmit()" [formGroup]="reportScaResultForm">
  <div class="card">
    <div class="card-body">
      <ng-container [ngSwitch]="tanConfig.type">
        <section *ngSwitchCase="tanType.CHIP_OTP" class="text-center">
          <consent-app-chiptan code="{{ tanConfig?.data }}" width="300" height="150" bgColor="#000" barColor="#fff">
          </consent-app-chiptan>
        </section>
        <section *ngSwitchCase="tanType?.QR_CODE" class="text-center">
          <qrcode [qrdata]="tanConfig.data" [width]="200" [errorCorrectionLevel]="'M'"></qrcode>
        </section>
        <section *ngSwitchCase="tanType?.PHOTO_OTP" class="text-center">
          <img src="{{ tanConfig.data }}" width="200" height="200" alt="image tan" />
        </section>
      </ng-container>

      <section>
        <h2>Input confirmation number</h2>
        <p class="text-secondary">
          {{ tanConfig?.description }}
        </p>
        <div class="form-group">
          <label class="text-secondary" for="tan">SCA confirmation number:</label><br />
          <input
            [ngClass]="{
              'is-invalid': reportScaResultForm.controls['tan'].touched && reportScaResultForm.controls['tan'].errors
            }"
            class="form-control"
            formControlName="tan"
            id="tan"
            name="tan"
            placeholder="Enter your number"
            type="password"
          />
          <div
            *ngIf="
              reportScaResultForm.controls['tan'].touched && reportScaResultForm.controls['tan'].hasError('required')
            "
            class="invalid-feedback"
          >
            TAN is required
          </div>
          <div *ngIf="wrongSca" class="invalid-feedback d-block">SCA challenge is incorrect</div>
        </div>
      </section>
      <button id="do_submit" type="submit" class="btn btn-primary w-100" [disabled]="reportScaResultForm.invalid">
        Confirm
      </button>
    </div>
  </div>
</form>
