@import 'src/assets/themes/variables';

.search {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  align-content: center;

  .form-control {
    font-style: italic;
    padding-left: 2.375rem;
  }

  .form-control-feedback {
    position: absolute;
    padding-left: 0.7rem;
    pointer-events: none;
    color: $primary;
  }
}
