<div class="box-container">
  <div class="card card-frame">
    <div class="card-body">
      <h4 class="card-title">Redirecting to your bank</h4>
      <p class="card-text text-justify">
        We are about to redirect you to your bank. Please proceed or cancel this operation
      </p>
      <div class="d-flex flex-column-reverse flex-md-row">
        <button (click)="cancel()" class="btn btn-danger flex-fill my-1 mr-md-2">Cancel</button>
        <button (click)="proceed()" class="btn btn-primary flex-fill my-1 ml-md-2">Proceed</button>
      </div>
    </div>
  </div>
</div>
