@import 'src/assets/themes/variables';

.lacc-parent {
  margin: 50px;
  display: flex;
  flex-direction: row;
}

p {
  margin-bottom: 0;
}

.form-group {
  .title {
    font-size: 1.25rem;
    color: $dark-90;
  }

  .card-img {
    width: 48px;
    height: auto;
  }
}
