@import 'src/assets/themes/variables';
p {
  margin-bottom: 0.25rem;
}

.pl {
  padding-left: 40px;
}

.card-frame--big {
  max-width: 650px; /* Reduced card size */
  padding: 1.5rem; /* Reduced padding */
}

.form-group {
  .title {
    font-size: 1.1rem;
    color: $dark-90;
  }

  .card-img {
    width: 38px;
    height: auto;
  }
}

@media (max-width: 1150px) {
  .row {
    display: block;
  }
}

@media (min-width: 768px) {
  .col-md-6 {
    max-width: 100%;
  }
}
