@import 'src/assets/themes/variables';
p {
  margin-bottom: 0;
}

.pl {
  padding-left: 88px;
}

.form-group {
  .title {
    font-size: 1.25rem;
    color: $dark-90;
  }

  .card-img {
    width: 48px;
    height: auto;
  }
}

@media (max-width: 1150px) {
  .row {
    display: block;
  }
}

@media (min-width: 768px) {
  .col-md-6 {
    max-width: 100%;
  }
}
