@font-face {
  font-family: geometric-light;
  src: url('src/assets/fonts/Geometric/URWGeometric-Light.otf');
  src: url('src/assets/fonts/Geometric/URWGeometric-Light.otf') format('opentype');
}

@font-face {
  font-family: geometric-regular;
  font-weight: normal;
  src: url('src/assets/fonts/Geometric/URWGeometric-Regular.otf') format('opentype');
}

@font-face {
  font-family: geometric-SemiBold;
  font-weight: bold;
  src: url('src/assets/fonts/Geometric/URWGeometric-SemiBold.otf') format('opentype');
}
