@import 'src/assets/themes/variables';

.ltx-parent {
  display: flex;
  flex-direction: row;
}

.ltx-list-container {
  @extend %layout-padding;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
  background-color: #fff;
  border-radius: 3px;
  width: 100%;
  text-align: start;
  margin: 6px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.145);
  @media (max-width: $breakpoint-sm) {
    flex-wrap: wrap;
  }

  &--shadow {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  }
}

.ltx-date {
  white-space: nowrap;
}
.ltx-description {
  padding: 0 10px;
  line-height: 1.2;
  @media (max-width: $breakpoint-sm) {
    padding: 0;
  }
}
.ltx-amount-number {
  margin-left: auto;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  text-align: right;
  padding-right: 5px;
}
.ltx-amount-currency {
  text-align: right;
}

.ltx-category {
  font-size: larger;
}
