<form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
  <div class="card card-frame">
    <div class="card-body">
      <h4 class="card-title">Register</h4>
      <div class="form__margin">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            [ngClass]="{ 'is-invalid': login?.errors && login?.dirty }"
            autocomplete="off"
            class="form-control"
            formControlName="login"
            id="username"
            type="text"
          />
          <div *ngIf="login?.errors?.required && login?.dirty" class="invalid-feedback">
            Username is Required
          </div>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            [ngClass]="{ 'is-invalid': password?.errors && password?.dirty }"
            autocomplete="off"
            class="form-control"
            formControlName="password"
            id="password"
            type="password"
          />
          <div *ngIf="password?.errors?.required && password?.dirty" class="invalid-feedback">
            Password is Required
          </div>
        </div>

        <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input
            [ngClass]="{ 'is-invalid': confirmPassword?.errors && confirmPassword?.dirty }"
            autocomplete="off"
            class="form-control"
            formControlName="confirmPassword"
            id="confirmPassword"
            type="password"
          />
          <div *ngIf="confirmPassword?.errors?.required && confirmPassword?.dirty" class="invalid-feedback">
            Password is Required
          </div>
          <div *ngIf="confirmPassword?.errors?.compareFields && confirmPassword?.dirty" class="invalid-feedback">
            The passwords ara not identical.
          </div>
        </div>
      </div>
      <button id="do_submit" class="btn btn-primary btn-center btn-block mb-3" type="submit" [disabled]="!registerForm.valid">
        Register
      </button>
      <div>
        <a routerLink="../login">Login</a>
      </div>
    </div>
  </div>
</form>
