<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<script src="/static/js/search.js"></script>
<script src="/static/js/import.js"></script>
<head>
    <title>OpenBanking to Firefly-III bank account data exporter</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <script th:inline="javascript">
        let API_URL = /*[[${apiUrl}]]*/ "";
    </script>
   <div class="card">
    <div class="card-body">
        <h1 class="card-title">Import your bank accounts and transactions into FireFly-III</h1>
        <form>
            <div class="form-group">
                <label for="firefly-personal-token">FireFly-III personal access token</label>
                <input class="form-control" id="firefly-personal-token" name="firefly-personal-token" type="password"/>
            </div>
            <div class="form-group">
                <label for="bank-name-id">Search for your bank</label>
                <input class="form-control" type="text" id="bank-name-id" onkeyup="callSearch('bank-name-id', 'bank-list', 'bank-id', API_URL)" placeholder="Deutsche bank"/>
                <input class="form-control" type="hidden" id="bank-id" th:value="${bankId}"/>
                <div class="scrollable">
                    <ul class="list-group" id="bank-list"></ul>
                </div>
            </div>

            <div class="form-group">
                <input class="form-control" id="import-accounts" type="button" value="Import accounts" onclick="callAccountImport('firefly-personal-token', 'bank-id', 'import-accounts-redirect', 'import-accounts-status', API_URL)"/>
            <span class="hidden" id="import-accounts-status">Please wait...</span>
            <a class="hidden" href="#" id="import-accounts-redirect">You need to be redirected to OpenBankingGateway for consent authorization</a>
        </div>
            <div  class="form-group">
                <input class="form-control" id="import-transactions" type="button" value="Import transactions"/>
            <a class="hidden" href="#" id="import-transactions-redirect">You need to be redirected to OpenBankingGateway for consent authorization</a>
            </div>
        </form>
    </div>
   </div>
</body>
</html>
