@import './assets/themes/variables';

@import '~bootstrap/scss/bootstrap';
@import './assets/themes/fonts';
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--main-BG);
}

.card {
  border-radius: 16px;
  //box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  color: #2c2e2f;

  &-frame {
    margin: 120px auto 0;
    max-width: 450px;
    height: auto;
  }

  &-body {
    padding: 3rem;
    color: $dark-80;
  }

  &-title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-family: geometric-SemiBold, sans-serif;
  }

  &-img {
    width: 136px;
    height: 136px;
  }
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.form__margin {
  margin-bottom: 2rem;
}

label {
  margin-bottom: 0;
  color: $primary;
}

.form-control,
.btn {
  height: 48px;
  border: none;
}

.form-control,
.form-control:focus {
  border-radius: 0;
  background-color: $primary-30;
}

.btn {
  align-content: center;

  &-center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  &-link {
    color: $primary;
    opacity: 0.6;
  }
}
