Choose account access
<mat-radio-group class="account-radio-group" name="accessSelector">
  <mat-radio-button #dedicated class="account-radio-button" [value]="dedicatedChecked.checked" [checked]="dedicatedChecked.checked" aria-label="Dedicated accounts access"></mat-radio-button>
  <div class="nested"
       (click)="!dedicated.checked ? $event.stopPropagation() : null;"
       [class.disabled]="!dedicated.checked">
    General account details access:
    <hr/>
    <div class="nested">
      <div *ngFor="let template of this.aisConsent.access.accounts; let i = index" class="form-row">
        <button mat-icon-button type="button" (click)="removeAccount(accountReference)">
          <mat-icon>remove_circle</mat-icon>
        </button>
        <app-account-reference #accountReference [(ibanValue)]="aisConsent.access.accounts[i]" [form]="form"></app-account-reference>
      </div>
      <button mat-icon-button type="button" (click)="addAccount()" >
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
    Account balance access:
    <hr/>
    <div class="nested">
      <div *ngFor="let template of this.aisConsent.access.balances; let i = index" class="form-row">
        <button mat-icon-button type="button" (click)="removeBalance(balanceReference)">
          <mat-icon>remove_circle</mat-icon>
        </button>
        <app-account-reference #balanceReference [(ibanValue)]="aisConsent.access.balances[i]" [form]="form"></app-account-reference>
      </div>
      <button mat-icon-button type="button" (click)="addBalance()">
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
    Transaction list access:
    <hr/>
    <div class="nested">
      <div *ngFor="let template of this.aisConsent.access.transactions; let i = index" class="form-row">
        <button mat-icon-button type="button" (click)="removeTransaction(txReference)">
          <mat-icon>remove_circle</mat-icon>
        </button>
        <app-account-reference #txReference [(ibanValue)]="aisConsent.access.transactions[i]" [form]="form"></app-account-reference>
      </div>
      <button mat-icon-button type="button" (click)="addTransaction()">
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
  </div>
  <div>
    <mat-radio-button #all class="account-radio-button" [value]="allChecked.checked" [checked]="allChecked.checked">All accounts access</mat-radio-button>
    <mat-radio-group class="account-radio-group nested" [disabled]="!all.checked" [(ngModel)]="aisConsent.access.availableAccounts">
      <mat-radio-button value="ALL_ACCOUNTS">All accounts</mat-radio-button>
      <mat-radio-button value="ALL_ACCOUNTS_WITH_BALANCES">All accounts with balances</mat-radio-button>
    </mat-radio-group>
  </div>
</mat-radio-group>

<div>
  <mat-checkbox [(ngModel)]="aisConsent.recurringIndicator">recurringIndicator</mat-checkbox>
  <br/>
  <mat-form-field>
    <input type="text" matInput placeholder="frequencyPerDay" [(ngModel)]="aisConsent.frequencyPerDay">
  </mat-form-field>
  <br/>
  <mat-form-field>
    <input matInput [matDatepicker]="dp" placeholder="validUntil" [(ngModel)]="aisConsent.validUntil">
    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp></mat-datepicker>
  </mat-form-field>
</div>
