Choose account access
<form [formGroup]="form">
<mat-radio-group class="account-radio-group" name="accessSelector">
  <mat-radio-button #dedicated class="account-radio-button" value="dedicated" aria-label="Dedicated accounts access"></mat-radio-button>
  <div class="nested"
       (click)="!dedicated.checked ? $event.stopPropagation() : null;"
       [class.disabled]="!dedicated.checked">
    General account details access:
    <hr/>
    <div class="nested">
      <div *ngFor="let template of accounts" class="form-row">
        <button mat-icon-button (click)="removeAccount(accountReference)">
          <mat-icon>remove_circle</mat-icon>
        </button>
        <app-account-reference #accountReference elemId="{{template.elemId}}"></app-account-reference>
      </div>
      <button mat-icon-button (click)="addAccount()">
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
    Account balance access:
    <hr/>
    <div class="nested">
      <div *ngFor="let template of balances" class="form-row">
        <button mat-icon-button (click)="removeBalance(balanceReference)">
          <mat-icon>remove_circle</mat-icon>
        </button>
        <app-account-reference #balanceReference elemId="{{template.elemId}}"></app-account-reference>
      </div>
      <button mat-icon-button (click)="addBalance()">
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
    Transaction list access:
    <hr/>
    <div class="nested">
      <div *ngFor="let template of transactions" class="form-row">
        <button mat-icon-button (click)="removeTransaction(txReference)">
          <mat-icon>remove_circle</mat-icon>
        </button>
        <app-account-reference #txReference elemId="{{template.elemId}}"></app-account-reference>
      </div>
      <button mat-icon-button (click)="addTransaction()">
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
  </div>
  <div>
    <mat-radio-button #all class="account-radio-button" value="all" aria-label="All accounts access"></mat-radio-button>
    <mat-radio-group class="account-radio-group nested" name="fullAccessType" [disabled]="!all.checked">
      <mat-radio-button value="allAccounts">All accounts</mat-radio-button>
      <mat-radio-button value="allWithBalances">All accounts with balances</mat-radio-button>
    </mat-radio-group>
  </div>
</mat-radio-group>
</form>
