server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/open_banking?currentSchema=banking_protocol
    username: postgres
    password: docker
    type: com.zaxxer.hikari.HikariDataSource
    driver-class-name: org.postgresql.Driver
    hikari:
      schema: banking_protocol
  jpa:
    hibernate:
      naming:
        physical-strategy: de.adorsys.opba.db.hibernate.PrefixAndSnakeCasePhysicalNamingStrategy
      # DDL is handled by Liquibase
      ddl-auto: validate
    open-in-view: false
  liquibase:
    enabled: true
    change-log: classpath:migration/master.xml
    parameters:
      table-prefix: opb_
      fill-with-mock-data: true

facade:
  urls:
    embedded-ui-base-url: http://localhost:4200

protocol:
  xs2a:
    urls:
      ais:
        to-aspsp: ${facade.urls.embedded-ui-base-url}/ais${protocol.xs2a.urls.common.to-aspsp}
        web-hooks:
          ok: ${protocol.xs2a.urls.common.web-hooks.ok}
          nok: ${protocol.xs2a.urls.common.web-hooks.nok}
          result: ${facade.urls.embedded-ui-base-url}/ais${protocol.xs2a.urls.common.web-hooks.result}
        parameters:
          provide-more: ${facade.urls.embedded-ui-base-url}/ais${protocol.xs2a.urls.common.parameters.provide-more}
          provide-psu-password: ${facade.urls.embedded-ui-base-url}/ais${protocol.xs2a.urls.common.parameters.provide-psu-password}
          select-sca-method: ${facade.urls.embedded-ui-base-url}/ais${protocol.xs2a.urls.common.parameters.select-sca-method}
          report-sca-result: ${facade.urls.embedded-ui-base-url}/ais${protocol.xs2a.urls.common.parameters.report-sca-result}
          provide-psu-iban: ${facade.urls.embedded-ui-base-url}/ais${protocol.xs2a.urls.common.parameters.provide-psu-iban}
      pis:
        to-aspsp: ${facade.urls.embedded-ui-base-url}/pis${protocol.xs2a.urls.common.to-aspsp}
        web-hooks:
          ok: ${protocol.xs2a.urls.common.web-hooks.ok}
          nok: ${protocol.xs2a.urls.common.web-hooks.nok}
          result: ${facade.urls.embedded-ui-base-url}/pis${protocol.xs2a.urls.common.web-hooks.result}
        parameters:
          provide-more: ${facade.urls.embedded-ui-base-url}/pis${protocol.xs2a.urls.common.parameters.provide-more}
          provide-psu-password: ${facade.urls.embedded-ui-base-url}/pis${protocol.xs2a.urls.common.parameters.provide-psu-password}
          select-sca-method: ${facade.urls.embedded-ui-base-url}/pis${protocol.xs2a.urls.common.parameters.select-sca-method}
          report-sca-result: ${facade.urls.embedded-ui-base-url}/pis${protocol.xs2a.urls.common.parameters.report-sca-result}
          provide-psu-iban: ${facade.urls.embedded-ui-base-url}/pis${protocol.xs2a.urls.common.parameters.provide-psu-iban}
      common:
        to-aspsp: /#{context.getAuthorizationSessionIdIfOpened()}/to-aspsp-redirection
        web-hooks:
          ok: ${facade.urls.embedded-ui-base-url}/embedded-server/v1/consent/#{context.getAuthorizationSessionIdIfOpened()}/fromAspsp/STUB_STATE/ok?redirectCode=#{context.getAspspRedirectCode()}
          nok: ${facade.urls.embedded-ui-base-url}/embedded-server/v1/consent/#{context.getAuthorizationSessionIdIfOpened()}/fromAspsp/STUB_STATE/nok?redirectCode=#{context.getAspspRedirectCode()}
          result: /#{context.getAuthorizationSessionIdIfOpened()}/consent-result?redirectCode=#{context.getRedirectCodeIfAuthContinued()}
        parameters:
          provide-more: /#{context.getAuthorizationSessionIdIfOpened()}?redirectCode=#{context.getRedirectCodeIfAuthContinued()}
          provide-psu-password: /#{context.getAuthorizationSessionIdIfOpened()}/authenticate?wrong=#{context.getWrongAuthCredentials()}
          select-sca-method: /#{context.getAuthorizationSessionIdIfOpened()}/select-sca-method
          report-sca-result: /#{context.getAuthorizationSessionIdIfOpened()}/sca-result/#{context.getUserSelectScaType()}?wrong=#{context.getWrongAuthCredentials()}
          provide-psu-iban: /#{context.getAuthorizationSessionIdIfOpened()}/entry-consent-transactions/dedicated-account-access?wrong=#{context.getWrongAuthCredentials()}
    aspspmessages:
      invalid-credentials: PSU_CREDENTIALS_INVALID
      invalid-consent: FORMAT_ERROR
      missing-oauth2-token: UNAUTHORIZED
    pkcs12:
      keystore: sample-qwac.keystore
      password: password

# Flowable comes for all protocols shared
bpmnshared:
  flowable:
    serialization:
      serialize-only-packages:
        - de.adorsys.opba.protocol.bpmnshared.dto.context
        - de.adorsys.opba.protocol.xs2a.context
        - de.adorsys.opba.protocol.hbci.context
    expirable:
      expire-after-write: PT600S
    # TODO: re-enable retry after proper error handling implementation
    number-of-retries: 0
flowable:
  process-definition-location-prefix: classpath*:/processes/**/
