<div>
  <form ngNoForm method="post">

    <label for="fintechRedirectUriOk">Fintech-Redirect-URL-OK</label>
    <input id="fintechRedirectUriOk" name="fintechRedirectUriOk" type="text" [value]="fintechRedirectUriOk">

    <br/>
    <label for="fintechRedirectUriNok">Fintech-Redirect-URL-NOK</label>
    <input id="fintechRedirectUriNok" name="fintechRedirectUriNok" type="text" [value]="fintechRedirectUriNok">

    <br/>
    <label for="fintechUserId">Fintech-User-ID</label>
    <input id="fintechUserId" name="fintechUserId" type="text" [value]="fintechUserId">

    <br/>
    <label for="authorization">Authorization</label>
    <input id="authorization" name="authorization" type="text" [value]="authorization">

    <br/>
    <label for="requestId">Request id</label>
    <input id="requestId" name="requestId" type="text" [value]="requestId">

    <br>
    <label for="bankId">Bank id</label>
    <input id="bankId" name="bankId" type="text" [value]="bankId">

    <br>
    <div class="form-row">
      <button type="button" [disabled]="!form.valid" (click)="submit()">Save</button>
    </div>
  </form>
</div>
