<h1>Fintech calls TPP to get {{action.toString()}} list with following parameters</h1>

<hr/>
<label for="action-selector">List for:</label>
<select id="action-selector" [(ngModel)]="action">
  <option *ngFor="let a of Action | keyvalue" [ngValue]="a.value">{{a.key}}</option>
</select>
<hr/>

<div>
  <form ngNoForm method="post">

    <label for="fintechRedirectUriOk">Fintech-Redirect-URL-OK</label>
    <input id="fintechRedirectUriOk" name="fintechRedirectUriOk" type="text" [formControl]="fintechRedirectUriOk">

    <br/>
    <label for="fintechRedirectUriNok">Fintech-Redirect-URL-NOK</label>
    <input id="fintechRedirectUriNok" name="fintechRedirectUriNok" type="text" [formControl]="fintechRedirectUriNok">

    <br/>
    <label for="fintechUserId">Fintech-User-ID</label>
    <input id="fintechUserId" name="fintechUserId" type="text" [formControl]="fintechUserId">

    <br/>
    <label for="authorization">Authorization</label>
    <input id="authorization" name="authorization" type="text" [formControl]="authorization">

    <br/>
    <label for="serviceSessionPassword">Service session password (for context encryption)</label>
    <input id="serviceSessionPassword" name="serviceSessionPassword" type="text" [formControl]="serviceSessionPassword">

    <br/>
    <label for="requestId">Request id</label>
    <input id="requestId" name="requestId" type="text" [formControl]="requestId">

    <br>
    <label for="bankId">Bank id</label>
    <input id="bankId" name="bankId" type="text" [formControl]="bankId">

    <hr>
    <br>
    Supply if consent available to get result or you want to use your own session UUID:
    <br>
    <label for="serviceSessionId">(Optional) Service session id: </label>
    <input id="serviceSessionId" name="serviceSessionId" type="text" [formControl]="serviceSessionId">

    <br>
    <ng-container *ngIf="action === Action.TRANSACTIONS">
      <label for="accountId">Account ID (resource id) to list txn's for</label>
      <input id="accountId" name="accountId" type="text" [formControl]="accountId">
      <br/>
      <input matInput [matDatepicker]="dpf" placeholder="Date from" [formControl]="dateFrom">
      <mat-datepicker-toggle matSuffix [for]="dpf"></mat-datepicker-toggle>
      <mat-datepicker #dpf></mat-datepicker>
      <br/>
      <input matInput [matDatepicker]="dpt" placeholder="Date to" [formControl]="dateTo">
      <mat-datepicker-toggle matSuffix [for]="dpt"></mat-datepicker-toggle>
      <mat-datepicker #dpt></mat-datepicker>
      <br/>
      <label for="booking-selector">Bookings:</label>
      <select id="booking-selector" [(ngModel)]="bookingStatus">
        <option *ngFor="let b of BookingStatus | keyvalue" [ngValue]="b.value">{{b.key}}</option>
      </select>
    </ng-container>
    <hr>

    <br>
    <div class="form-row">
      <button type="button" [disabled]="!form.valid" (click)="submit()">Call TPP for list {{action}}</button>
    </div>
  </form>

  <br/>
  <a href="assets/docs/rendered/flow.svg">Link to entire end-to-end flow</a>
  <div *ngIf="!serviceSessionId.value">
    <h2>What happens in backend during this request</h2>
    <img src="assets/docs/rendered/initial.svg" width="1920px"/>
  </div>
  <div *ngIf="serviceSessionId.value">
    <h2>What happens in backend during this request (if consent is present)</h2>
    <img src="assets/docs/rendered/get-result.svg" width="1920px"/>
  </div>
</div>
