<div (click)="onSubmit(true)" class="lacc-list-container">
  <div class="lacc-list-item">
    <h1 class="lacc-list-item__headline lacc-list-item__headline--small">{{ account.name }}</h1>
    <p class="lacc-list-item__subheadline lacc-list-item__subheadline--large">
      {{ visibleAccountNumber(account) }}
    </p>
  </div>
  <button
    class="btn btn-primary btn-block"
    *ngIf="isSelected(account.resourceId)"
    [routerLink]="'../../payment/accounts'"
  >
    Proceed payment
  </button>
</div>
