.add-mr-right:not(:last-child) {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.lacc-list-container {
  display: flex;
  align-items: center;
  //width: 95%;
  text-align: start;
  cursor: pointer;

  &--unselected {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  }

  &--selected {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 1);
  }
}

.lacc-list-item {
  background-color: #fff;
  padding: 16px;

  &__headline {
    font-size: 0.5rem;

    &--small {
      font-size: 0.85rem;
    }
  }

  &__subheadline {
    font-size: 0.85rem;
    margin-bottom: 0;

    &--large {
      font-size: 1.1rem;
    }
  }
}
