<section class="payment">
  <h2 class="card-title card-title--normal">Confirm your Payment</h2>
  <p class="text-secondary">Please check your payment information you about to execute, the confirm with "Next".</p>
  <div class="row mt-4 mb-3">
    <div class="form-group col-md-6">
      <div class="d-md-flex align-items-center">
        <img alt="redirection" class="card-img mb-4 mb-md-0 mr-4" src="assets/icons/card_payment.png" />
        <div class="">
          <label class="text-bold title">Creditor account</label>
          <p class="description">DE89 3704 0044 0532 0130 00</p>
        </div>
      </div>
    </div>
    <div class="form-group col-md-3 text-md-right">
      <label>creditor name</label>
      <p class="text-bold">WBG</p>
    </div>
    <div class="form-group col-md-3 text-md-right">
      <label>Payment amount</label>
      <p class="text-bold">50 EUR</p>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <div class="d-md-flex align-items-center">
        <img alt="redirection" class="card-img mb-4 mb-md-0 mr-4" src="assets/icons/receive_dollar.png" />
        <div class="">
          <label class="text-bold title">Debtor account</label>
          <p class="description">DE44 2564 0044 0532 0130 00</p>
        </div>
      </div>
    </div>
    <div class="form-group col-md-3 text-md-right">
      <label>Total amount:</label>
      <p class="text-bold">50 EUR</p>
    </div>
  </div>
</section>

<div class="d-sm-flex">
  <button (click)="onDeny()" class="btn btn-outline-secondary w-100 mr-4" id="do_deny">Cancel</button>
  <button (click)="onConfirm()" class="btn btn-primary w-100" id="do_submit" type="button">
    Ok
  </button>
</div>
