<div class="card">
  <div class="card-body">
    <section>
      <h2>Access permission for accounts in {{ aspspName }}</h2>
      <p class="text-secondary">
        Review an account access level for <strong>{{ finTechName }}</strong>
      </p>
    </section>
    <form [formGroup]="targetForm">
    <ng-container [ngSwitch]="aisConsent.level">
      <section>
        <ng-container *ngSwitchCase="accountAccessLevel.ALL_PSD2">
          <div class="flex-container">
            <img src="assets/icons/icons8-mark_view_as_non_hidden.png" alt="accounts" class="icons" />
            <p>All your accounts and corresponding transactions will be visible</p>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="accountAccessLevel.FINE_GRAINED">
          <div class="flex-container">
            <img src="assets/icons/icons8-mark_view_as_non_hidden.png" alt="accounts" class="icons" />
            <p>Dedicated access to <strong>account details and transactions</strong> for following accounts IBAN's:</p>
          </div>
          <div class="ml-4">
            <ul class="list-group ml-5 mb-4">
              <li *ngFor="let account of aisConsent.consent.access.accounts">
                <strong>{{ account.iban }} {{ account.currency }}</strong>
              </li>
            </ul>
          </div>
        </ng-container>
        <div
          class="flex-container"
          [ngClass]="{ 'is-invalid': _validUntilDate.touched && _validUntilDate.errors }">
          <img src="assets/icons/icons8-approval.png" alt="approval" class="icons" />
          <p>
            The consent will be valid until:
          </p>
            <input
              class="form-control customDate"
              type="date"
              id="validUntilDate"
              name="validUntilDate"
              formControlName="validUntilDate"
              [ngClass]="{ 'is-invalid': _validUntilDate.touched && _validUntilDate.errors }"
            />
        </div>
        <div
          class="flex-container"
          [ngClass]="{ 'is-invalid': _frequencyPerDay.touched && _frequencyPerDay.errors }">
          <img src="assets/icons/icons8-last_24_hours.png" alt="24_hours" class="icons" />
          <p>
            The consent can be used:
          </p>
          <input
            class="form-control customNumber"
            type="number"
            id="frequencyPerDay"
            name="frequencyPerDay"
            formControlName="frequencyPerDay"
            [ngClass]="{ 'is-invalid': _frequencyPerDay.touched && _frequencyPerDay.errors }"/>
          <strong class="customStrong"> times per day </strong>
        </div>
        <div class="form-check inputWrapper">
          <input
            class="form-check-input"
            type="checkbox"
            id="recurringIndicator"
            name="recurringIndicator"
            formControlName="recurringIndicator"/>
          <label class="form-check-label checkboxLabel" for="recurringIndicator">The consent is for recurring access to the account data</label>
        </div>
        <div class="invalid-feedback mb-2">
          <span
            *ngIf="_frequencyPerDay.touched && _frequencyPerDay.errors;">
            The value must be greater than or equal to 1.
          </span>
          <span
            *ngIf="_validUntilDate.touched && _validUntilDate.errors;">
            Incorrect date format or date (past dates cannot be used).
          </span>
        </div>
      </section>
    </ng-container>
    </form>
    <div class="d-sm-flex">
      <button id="do_deny" class="btn btn-outline-back w-100 mr-4" (click)="onBack()">Back</button>
      <button id="do_submit" type="button" class="btn btn-primary w-100" (click)="onConfirm()">Confirm</button>
    </div>
  </div>
</div>
