<div class="card">
  <div class="card-body">
    <section>
      <h2>Access permission for accounts in {{ aspspName }}</h2>
      <p class="text-secondary">
        Review an account access level for <strong>{{ finTechName }}</strong>
      </p>
    </section>
    <ng-container [ngSwitch]="aisConsent.level">
      <section>
        <ng-container *ngSwitchCase="accountAccessLevel.ALL_PSD2">
          <div class="flex-container">
            <img src="assets/icons/icons8-mark_view_as_non_hidden.png" alt="accounts" class="icons" />
            <p>All your accounts and corresponding transactions will be visible</p>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="accountAccessLevel.FINE_GRAINED">
          <div class="flex-container">
            <img src="assets/icons/icons8-mark_view_as_non_hidden.png" alt="accounts" class="icons" />
            <p>Dedicated access to <strong>account details and transactions</strong> for following accounts IBAN's:</p>
          </div>
          <div class="ml-4">
            <ul class="list-group ml-5 mb-4">
              <li *ngFor="let account of aisConsent.consent.access.accounts">
                <strong>{{ account.iban }} {{ account.currency }}</strong>
              </li>
            </ul>
          </div>
        </ng-container>
        <div class="flex-container">
          <img src="assets/icons/icons8-approval.png" alt="approval" class="icons" />
          <p>
            The consent will be valid until <strong>{{ aisConsent.consent.validUntil }}</strong>
          </p>
        </div>
        <div class="flex-container">
          <img src="assets/icons/icons8-last_24_hours.png" alt="24_hours" class="icons" />
          <p>
            The consent can be used <strong>{{ aisConsent.consent.frequencyPerDay }} times per day </strong>
          </p>
        </div>
      </section>
    </ng-container>
    <div class="d-sm-flex">
      <button id="do_deny" class="btn btn-outline-back w-100 mr-4" (click)="onBack()">Back</button>
      <button id="do_submit" type="button" class="btn btn-primary w-100" (click)="onConfirm()">Confirm</button>
    </div>
  </div>
</div>
