<form class="header__margin" [formGroup]="settingsForm">
  <div class="card card-frame--big">
    <div class="card-body">
      <section class="settings">
        <h2 class="card-title--normal">Settings for bank {{ bankId }}</h2>
        <p class="text-secondary">These settings affect result of calls</p>

        <div class="form-group">
          <h4 class="text-secondary">List of Accounts</h4>
          <div class="form-check">
            <input type="radio" value="{{ loaFromTppWithAvailableConsent }}" formControlName="loa" id="loa" />
            <label for="loa">If consent available without redirect.</label>
          </div>
          <div class="form-check">
            <input type="radio" value="{{ loaFromTppWithNewConsent }}" formControlName="loa" id="loa2" />
            <label for="loa2">Discard propably existing consent ONE TIME ONLY.</label>
          </div>
          <div class="form-check">
            <input
              type="checkbox"
              value="{{ settingsForm.get('onlineLoa') }}"
              formControlName="onlineLoa"
              id="onlineLoa"
            />
            <label for="onlineLoa">Don't use protocol cache</label>
          </div>
          <div class="form-check">
            <input
              type="checkbox"
              value="{{ settingsForm.get('withBalance') }}"
              formControlName="withBalance"
              id="balance"
            />
            <label for="balance">Get accounts with balance</label>
          </div>
        </div>

        <div class="form-group">
          <h4 class="text-secondary">List of Transactions</h4>
          <div class="form-check">
            <input type="radio" value="{{ lotFromTppWithAvailableConsent }}" formControlName="lot" id="lot" />
            <label for="lot">If consent available without redirect.</label>
          </div>
          <div class="form-check">
            <input type="radio" value="{{ lotFromTppWithNewConsent }}" formControlName="lot" id="lot2" />
            <label for="lot2">Discard propably existing consent ONE TIME ONLY.</label>
          </div>
          <div class="form-check">
            <input
              type="checkbox"
              value="{{ settingsForm.get('onlineLot') }}"
              formControlName="onlineLot"
              id="onlineLot"
            />
            <label for="onlineLot">Don't use protocol cache</label>
          </div>
        </div>

        <div class="form-group">
          <h4 class="text-secondary">Payments</h4>
          <div class="form-check">
            <input
              type="checkbox"
              value="{{ settingsForm.get('paymentRequiresAuthentication') }}"
              formControlName="paymentRequiresAuthentication"
              id="payment"
            />
            <label for="payment">Payment requires authentication</label>
          </div>
        </div>
      </section>

      <div class="d-sm-flex">
        <button (click)="onNavigateBack()" class="btn btn-outline-secondary w-100 mr-4" id="do_deny">Cancel</button>
        <button
          (click)="onConfirm()"
          [disabled]="settingsForm.invalid"
          class="btn btn-primary w-100"
          id="do_submit"
          type="submit"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</form>
